.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}
#loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
}
#loader {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #3498db;
	-webkit-animation: spin 2s linear infinite;
	/* Chrome, Opera 15+, Safari 5+ */
	
	animation: spin 2s linear infinite;
	/* Chrome, Firefox 16+, IE 10+, Opera */
	
	z-index: 10001;
}
#loader:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #e74c3c;
	-webkit-animation: spin 3s linear infinite;
	/* Chrome, Opera 15+, Safari 5+ */
	
	animation: spin 3s linear infinite;
	/* Chrome, Firefox 16+, IE 10+, Opera */
}
#loader:after {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #f9c922;
	-webkit-animation: spin 1.5s linear infinite;
	/* Chrome, Opera 15+, Safari 5+ */
	
	animation: spin 1.5s linear infinite;
	/* Chrome, Firefox 16+, IE 10+, Opera */
}
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		/* Chrome, Opera 15+, Safari 3.1+ */
		
		-ms-transform: rotate(0deg);
		/* IE 9 */
		
		transform: rotate(0deg);
		/* Firefox 16+, IE 10+, Opera */
	}
	100% {
		-webkit-transform: rotate(360deg);
		/* Chrome, Opera 15+, Safari 3.1+ */
		
		-ms-transform: rotate(360deg);
		/* IE 9 */
		
		transform: rotate(360deg);
		/* Firefox 16+, IE 10+, Opera */
	}
}
@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		/* Chrome, Opera 15+, Safari 3.1+ */
		
		-ms-transform: rotate(0deg);
		/* IE 9 */
		
		transform: rotate(0deg);
		/* Firefox 16+, IE 10+, Opera */
	}
	100% {
		-webkit-transform: rotate(360deg);
		/* Chrome, Opera 15+, Safari 3.1+ */
		
		-ms-transform: rotate(360deg);
		/* IE 9 */
		
		transform: rotate(360deg);
		/* Firefox 16+, IE 10+, Opera */
	}
}
#loader-wrapper .loader-section {
	position: fixed;
	top: 0;
	width: 50%;
	height: 100%;
	background: rgb(22, 22, 22);
	background: rgba(22, 22, 22, 0.2);
	z-index: 10000;
	-webkit-transform: translateX(0);
	/* Chrome, Opera 15+, Safari 3.1+ */
	
	-ms-transform: translateX(0);
	/* IE 9 */
	
	transform: translateX(0);
	/* Firefox 16+, IE 10+, Opera */
}
#loader-wrapper .loader-section.section-left {
	left: 0;
}
#loader-wrapper .loader-section.section-right {
	right: 0;
}
/* Loaded */

.loaded #loader-wrapper .loader-section.section-left {
	-webkit-transform: translateX(-100%);
	/* Chrome, Opera 15+, Safari 3.1+ */
	
	-ms-transform: translateX(-100%);
	/* IE 9 */
	
	transform: translateX(-100%);
	/* Firefox 16+, IE 10+, Opera */
	
	-webkit-transition: all 0.3s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1.000);
	transition: all 0.3s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded #loader-wrapper .loader-section.section-right {
	-webkit-transform: translateX(100%);
	/* Chrome, Opera 15+, Safari 3.1+ */
	
	-ms-transform: translateX(100%);
	/* IE 9 */
	
	transform: translateX(100%);
	/* Firefox 16+, IE 10+, Opera */
	
	-webkit-transition: all 0.3s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1.000);
	transition: all 0.3s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded #loader {
	opacity: 0;
	-webkit-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
}
.loaded #loader-wrapper {
	visibility: hidden;
	-webkit-transform: translateY(-100%);
	/* Chrome, Opera 15+, Safari 3.1+ */
	
	-ms-transform: translateY(-100%);
	/* IE 9 */
	
	transform: translateY(-100%);
	/* Firefox 16+, IE 10+, Opera */
	
	-webkit-transition: all 0.1s 1s ease-out;
	transition: all 0.1s 1s ease-out;
}
/* JavaScript Turned Off */

.no-js #loader-wrapper {
	display: none;
}
.no-js h1 {
	background: rgb(22, 22, 22);
	background: rgba(22, 22, 22, 0.6);
}
.tree {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #fbfbfb;
	border: 1px solid #999;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)
}
.tree li {
	list-style-type: none;
	margin: 0;
	padding: 10px 5px 0 5px;
	position: relative
}
.tree li::before,
.tree li::after {
	content: '';
	left: -20px;
	position: absolute;
	right: auto
}
.tree li::before {
	border-left: 1px solid #999;
	bottom: 50px;
	height: 100%;
	top: 0;
	width: 1px
}
.tree li::after {
	border-top: 1px solid #999;
	height: 20px;
	top: 25px;
	width: 25px
}
.tree li span {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #999;
	border-radius: 5px;
	display: inline-block;
	padding: 3px 8px;
	text-decoration: none
}
.tree li.parent_li>span {
	cursor: pointer
}
.tree>ul>li::before,
.tree>ul>li::after {
	border: 0
}
.tree li:last-child::before {
	height: 30px
}
.tree li.parent_li>span:hover,
.tree li.parent_li>span:hover+ul li span {
	background: #eee;
	border: 1px solid #94a0b4;
	color: #000;
}
/*添加配置项调用用户名*/
#search {
	text-align: center;
	position: relative;
}
.autocomplete {
	border: 1px solid #9ACCFB;
	background-color: white;
	text-align: left;
}
.autocomplete li {
	list-style-type: none;
}
.clickable {
	cursor: default;
}
.highlight {
	background-color: #9ACCFB;
}
/*首页*/
.homepage{
	color: #337ab7;
	font-size: 50px;
	font-family: "Microsoft YaHei";
}
.homepageline{
	border-bottom: 1px solid #fff;
}
.homepageline a{
	text-decoration: none;
}
#page-wrapper p{
	font-size: 20px;
	font-family: "Microsoft YaHei";
}
.fastentry{
	border: 1px solid #337ab7;
	width: 130px;
	height: 120px;
	border-radius:4px;
	display: inline-block;
	margin-right: 33px;
}
.fastentry p{
	color: #337ab7;
	font-size: 20px;
	font-family: "Microsoft YaHei";
	text-align: center;
	margin-top: 15px;
}
.homepagecircle{
	/*background-color: #d7edff;*/
	width: 60px;
	height: 60px;
	/*border-radius: 50%;*/
	margin: 10px auto;
	/*margin-top: 20px;*/
}
.owe{
	border: 1px solid #e46661;
	width: 150px;
	border-radius: 3px;
	line-height: 15px;	
}
.waterp{
	margin-top: 20px;
}
.owep{
	color: #919191;
	margin-top: 5px;
	
}
.no-notice{
	text-align: center;
}
.unread{
	display: none;
}
.show-unread{
	display: block;
}
.urlCol >img{
	width: 30px;
	height: 20px;
}
/*添加广告日期时间*/
.adDatetime{
	width:100%;height: 34px;
}

.footModal{
	padding: 35px;
  	text-align: right;
}
.conditionBtn{
	display: inline-block;
  padding: 2px 12px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
}
/*订单样式*/
.searchBtn{
	background:#fff;
	margin-left: -1px;
	border: 1px solid #aaa;
	padding: 2px 20px;
}
.searchBtn:hover{
	color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
#moreCondition{
	padding-left:10px;cursor:pointer;text-decoration: none;
}
.orderInput{
	width: 300px; display: inline-block;
}
#searchMore{
	display: none;margin-top: 20px;margin-bottom: 20px;
}
#searchMore select{
	width: 174px;height: 26px;
}
.paytime{
	width: 464px; margin-top: 20px; display: inline-block;
}
/*新闻*/
/*li{
	list-style: none;
}*/



.replayContent{
	min-height: 20px;
  	width: 100%;
  	margin-bottom: 10px;
}
  
/*滞纳金*/
.menuSelect{
	  z-index: 2;
	display: none;
	width: 100px;
    position: absolute;
  	top: 20px;
  	left: 20%;
  	display: none;
}
.menuSelect > li{
	cursor: pointer;
}
.menuSelect > li:hover{
	background: #ccc;
}
#add{
	/*clear: both;*/
  display: inline-block;
  float: left;
  width: 100%;
}
.addProject{
	width: 31%;
	display: inline-block;
	/*clear: both;*/
}
#add .projectP{
	
	display: inline-block;
  	float: left;
  	cursor: pointer;
}
.fixselect{
	  height: 40px;
 	 line-height: 40px;
  	padding-left: 50px;
}
#fjfModal .month{
	width: 40px;
}

.dropdown > .projectP{
	display: inline-block;
  	float: left;
  	cursor: pointer;
}








