<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">添加新闻</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-12">

		<div class="panel panel-default">
			<div class="panel-heading">
				添加新闻
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body" id="addnews">
				<form class="formular form-horizontal" data-event="0x03020302" data-bs="hzh.pages.js.addnews.processForm" data-request="addInformation" data-cb="hzh.pages.js.addnews.processResponse">
					<input type="hidden" name="pushScope" value="1" />

					<div class="form-group col-sm-6">
						<label for="titleInput" class="col-sm-1">标题</label>
						<div class="col-sm-11">
							<input type="text" class="form-control validate[required] text-input" name="title" id="titleInput" placeholder="文章标题">
						</div>
					</div>
					<div class="form-group col-sm-6">
						<label for="executiveEditor" class="col-sm-1">摘要</label>
						<div class="col-sm-11">
							<input type="text" class="form-control validate[required] text-input" name="summary" placeholder="摘要">
						</div>
					</div>
					<div class="form-group col-sm-6">
						<label for="executiveEditor" class="col-sm-1">编辑</label>
						<div class="col-sm-11">
							<input type="text" class="form-control validate[required] text-input" name="executiveEditor" placeholder="责任编辑">
						</div>
					</div>
					<div class="form-group col-sm-6">
						<label for="source" class="col-sm-1">来源</label>
						<div class="col-sm-11">
							<input type="text" class="form-control validate[required] text-input" name="source" placeholder="来源">
						</div>
					</div>
					<div class="form-group col-sm-6">
						<label for="titleInput" class="col-sm-1">记者</label>
						<div class="col-sm-11">
							<input type="text" class="form-control validate[required] text-input" name="createAuthor" placeholder="记者">
						</div>
					</div>
					<div class="form-group col-sm-6">
						<label for="deptSelect" class="col-sm-1">级别</label>
						<div class="col-sm-11">
							<select class="form-control" id="deptSelect" name="dept">
								<option value="article">新闻</option>
								<option value="notice">紧急通知</option>
							</select>
						</div>
					</div>
					
					<div class="form-group col-sm-6">
						<label for="sectionSelect" class="col-sm-1">栏目</label>
						<div class="col-sm-11">
							<!--<select class="form-control" id="sectionSelect" name="sectionId" >
							</select>-->
							<!--<select id="sectionSelect" style="width: 100%;" name="sectionId">
								
							</select>-->
							<input type="text" id="sectionSelect" class="validate[required] text-input" name="sectionId">
						</div>
					</div>
									
					<div id="selectbox" class="form-group col-sm-6">
						<label for="communitySelect" class="col-sm-1">发布到
							<input type="checkbox" id="selectAll" />
						</label>
						<div class="col-sm-11">
							<div id="communitySelect"></div>
							<!--<select class="form-control" id="communitySelect"></select>-->
						</div>
					</div>
					<div class="form-group col-sm-6">
						<label for="deptSelect" class="col-sm-1">类型</label>
						<div id="selectType" class="col-sm-11">
							<select class="form-control" name="type">
								<option value="T">图文</option>
								<option value="I">图集</option>
								<option value="V">视频</option>
							</select>
							<textarea name="description" id="imgText" style="width:100%;display:none;border-radius: 4px;" maxlength="100" placeholder="请输入图片标签,不超过100字..."></textarea>
						</div>
					</div>
					<div id="newscontent" class="form-group">
						<textarea style="width: 100%;" id="editor_id" name="content" class="form-control"></textarea>
					</div>
					<div class="form-group">
						<button type="submit" style="margin-left: 13px;" class="btn btn-primary">提交</button>
					</div>

				</form>
				<!-- /.table-responsive -->

			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
		<!--<script>
			
		</script>-->
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->