<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">住户录入</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-12">

		<div class="panel panel-default">
			<div class="panel-heading">添加住户信息</div>
			<div class="panel-body">
				<!--<div class="col-lg-12">-->
					<form class="hzhform" style="  border-bottom: 1px solid #ddd;padding-bottom: 20px;" data-event="0x03020109" data-request="ADD_HOUSEHOLD_MULTI"  data-bs="hzh.pages.js.addunit.batchAddunitFrom" data-cb="hzh.pages.js.addunit.batchAddunitResponse">
						<div class="form-group">
							<p style="display: inline-block;">批量导入：</p>
							<!--<label for="exampleInputFile">批量导入：</label>-->
							<input style="display: inline;" type="file" id="exampleInputFile" accept=".xls,.xlsx">
							<button type="submit" style="margin-left: -70px;" class="btn btn-default">提交</button>
						</div>
						<a href="http://112.124.114.224:90/template/household.xlsx"><input type="button" value="表格模版下载" /></a>
					</form>
				<!--</div>-->
			</div>
			
			
				<!--<div class="tab-content">-->
				    
					<div class="panel-body">
						<!--<div class="panel panel-default">-->
							<!--<div class="col-lg-12">-->
						<p style="margin: 15px 0px;">单条录入：</p>
							<!--</div>-->
						<form class="formular" style="margin-left: -15px;" data-event="0x03020102 " data-request="addHousehold" data-bs="hzh.pages.js.addunit.processForm" data-cb="hzh.pages.js.addunit.processResponse">
							<!--<div class="col-lg-2 form-group">
									<label class="control-label">户绑定小区：</label>
									<input type="text" id="communityId" name="communityId" style="width: 230px;height: 34px;" class="form-control validate[required] " placeholder="户绑定小区" aria-describedby="sizing-addon1" />
								    <div id="tb" style="padding:15px;height:auto;">
										<input id="inputval" type="text" style="width: 30%;display: inline-block;" class="form-control" placeholder="请输入小区名称">
										<a href="#" id="btn" class="easyui-linkbutton" iconCls="icon-search">搜索</a>
									</div>
							</div>-->
							<div class="col-lg-2 form-group">
								<label class="control-label" for="inputJob">默认密码：</label>
								<input type="password" id="pwd" name="pwd" class="form-control validate[required] " placeholder="默认密码" aria-describedby="sizing-addon1" />
								
							</div>
							<div class="col-lg-2 form-group">
								<label class="control-label" style="display: block;" for="buildingNum">楼宇号：</label>
								<input type="text" id="buildingNum" name="buildingNum" />
								<div id="tb" style="padding:8px;height:auto;">
									<!--<textarea id="inputval"></textarea>-->
									<input id="inputval" type="text" style="display: inline-block;" placeholder="请输入楼宇号">
									<a href="#" id="btn" class="easyui-linkbutton" iconCls="icon-search">搜索</a>
								</div>
								<!--<input type="text" id="buildingNum" name="buildingNum" class="form-control validate[required] " placeholder="楼宇号" aria-describedby="sizing-addon1" />-->
								
							</div>
							<div class="col-lg-2 form-group">
									<label class="control-label" for="inputJob">单元号：</label>
									<input type="text" id="unitNum" name="unitNum" class="form-control validate[required] " placeholder="单元号" aria-describedby="sizing-addon1" />
								
							</div>
							<div class="col-lg-2 form-group">
								<label class="control-label" for="inputJob">房间号：</label>
								<input type="text" id="roomNum" name="roomNum" class="form-control validate[required] " placeholder="房间号" aria-describedby="sizing-addon1" />
								
							</div>
							<div class="col-lg-2 form-group">
								<label class="control-label" for="inputJob">家庭人数：</label>
								<input type="text" id="familyCount" name="familyCount" class="form-control validate[required,custom[integer]] " placeholder="家庭人数" aria-describedby="sizing-addon1" />
								
							</div>
							<div class="col-lg-2 form-group">
								<label class="control-label" for="inputJob">家庭成员姓名：</label>
								<input type="text" id="familys" name="familys" class="form-control validate[required] " placeholder="家庭成员姓名" aria-describedby="sizing-addon1" />
								
							</div>
							<div class="col-lg-2 form-group">
								<label class="control-label" for="inputJob">建筑面积：</label>
								<input type="text" id="buildingArea" name="buildingArea" class="form-control validate[required,custom[number],min[0],max[500]] " placeholder="建筑面积" aria-describedby="sizing-addon1" />
								
							</div>
							<div class="col-lg-2 form-group">
								<label class="control-label" for="inputJob">使用面积：</label>
								<input type="text" id="unitConstractionArea" name="unitConstractionArea" class="form-control validate[required,custom[number],min[0],max[500]] " placeholder="使用面积" aria-describedby="sizing-addon1" />
								
							</div>
							<div class="col-lg-2 form-group">
								<label class="control-label" for="inputJob">公摊面积：</label>
								<input type="text" id="sharedPublicArea" name="sharedPublicArea" class="form-control validate[required,custom[number],minSize[0],maxSize[500]] " placeholder="公摊面积" aria-describedby="sizing-addon1" />
								
							</div>
							<div class="col-lg-2 form-group">
								<label class="control-label" for="inputJob">户主姓名：</label>
								<input type="text" id="headOfHousehold" name="headOfHousehold" class="form-control validate[required] " placeholder="户主姓名" aria-describedby="sizing-addon1" />
								
							</div>
							<div class="col-lg-2 form-group">
								<label class="control-label" for="telephone">户主电话：</label>
								<input type="text" id="telephone" name="telephone"  class="form-control validate[required,custom[phone]] " placeholder="如：023-xxxxxxx或135xxxxxxxx" aria-describedby="sizing-addon1" />
							</div>
							<div class="col-lg-2 form-group">
								<label class="control-label" for="inputJob">硬件ID：</label>
								<input type="text" id="identification" name="identification" class="form-control validate[required] " placeholder="硬件ID" aria-describedby="sizing-addon1" />
								
							</div>
							<div class="col-lg-2 form-group">
								<label class="control-label" for="telephone">燃气号码：</label>
								<input type="text"  name="gasCode"  class="form-control validate[required,custom[number]] " placeholder="燃气号码" aria-describedby="sizing-addon1" />
								<select class="company" name="gasCompanyId">
									
								</select>
							</div>
							<div class="col-lg-2 form-group">
								<label class="control-label" for="telephone">电费号码：</label>
								<input type="text" name="electricityCode"  class="form-control validate[required,custom[number]] " placeholder="电费号码" aria-describedby="sizing-addon1" />
								<select class="company" name="electricityCompanyId">
									
								</select>
							</div>
							<div class="col-lg-2 form-group">
								<label class="control-label" for="telephone">水费号码：</label>
								<input type="text" name="waterCode"  class="form-control validate[required,custom[number]] " placeholder="水费号码" aria-describedby="sizing-addon1" />
								<select class="company" name="waterCompanyId">
									
								</select>
							</div>
							
							
							<div class="footModal">
								<button type="submit" class="btn btn-default">提交</button>
							</div>
						</form>
						<!--</div>-->
					</div>
				<!--</div>-->
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>
