<div class="row">
	<div class="col-lg-12">
		<a id="beback" href="#">返回</a>
		<h1 class="page-header">广告管理</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>

<div class="row">
	<div class="col-lg-12">
	    	<div class="panel panel-default">
			<div class="panel-heading">查询广告</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="home">
						<div class="bs-example" data-example-id="bordered-table">

							<table class="table table-bordered">
								<thead>
									<tr>
									</tr>
								</thead>
								<tbody>
									<tr>
										<!--<td>
											<input type="text" id="page" class="form-control" placeholder="展示页" aria-describedby="sizing-addon1" />
										</td>-->
										<td>
											<input type="text" id="adName" class="form-control" placeholder="广告名称" aria-describedby="sizing-addon1" />
										</td>
										<td>
											<input type="text" id="zone" class="form-control" placeholder="版位" aria-describedby="sizing-addon1" />
										</td>
										<td>
											<input type="text" id="customer" class="form-control" placeholder="广告客户" aria-describedby="sizing-addon1" />
										</td>
										<!--<td>
											<input type="text" id="campaign" class="form-control" placeholder="广告项目" aria-describedby="sizing-addon1" />
										</td>-->
										<td>
											<input id="adListBtn" type="button" class="btn btn-default" value="查询" />
										</td>

									</tr>
								</tbody>
							</table>
						</div>
						<button type="button" id="adAddBtn" style="margin-bottom: 15px;" class="btn btn-default" data-toggle="modal" data-target="#myModal">
							添加广告
						</button>
						<!--<div class="panel panel-default">-->
							<!--<div class="panel-heading">广告列表</div>-->
							<!--<div class="panel-body">-->
								<!--<div class="dataTable_wrapper">-->
									<table class="table table-striped table-bordered table-hover" id="adListTable">
										<thead>
											<tr>
												<th>选择</th>
												<th>名称</th>
												<th>资源</th>
												<th class="hide">替换文字</th>
												<th>版位</th>
												<th class="hide">页面</th>
												<th class="hide">项目</th>
												<th>客户</th>
												<th class="hide">权重</th>
												<th class="hide">开始日期</th>
												<th class="hide">结束日期</th>
												<th class="hide">开始时间</th>
												<th class="hide">结束时间</th>
												<th class="hide">总展示次数</th>
												<th class="hide">已展示次数</th>
												<th class="hide">播放时间(秒)</th>
												<th>操作</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
									<div class="paginateBox">

										<ul class="pagination">
										</ul>
									</div>
									<div id="checkAllBox">
										<input id="adcheckBox" type="checkbox">全选
										<input type="button" class="btn btn-default" id="delAlladBtn" value="删除所选" />
									</div>
								<!--</div>-->
								<!-- /.table-responsive -->
							<!--</div>-->
							<!-- /.panel-body -->
						<!--</div>-->
					</div>

					<!-- Modal -->
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="myModalLabel">添加广告列表</h4>
								</div>
								<form class="formular" data-event="0x03040103" data-request="addADResource" data-bs="hzh.pages.js.adlist.processForm" data-cb="hzh.pages.js.adlist.processResponse">
									
									<div class="col-lg-6 form-group">
										<input type="hidden" id="destinationUrl" name="destinationUrl" />
										<label class="control-label">广告资源地址：</label>
										<button type="button" style="display: block;" class="btn btn-default filemanagerBtn" >添加资源</button>
										
										
									</div>								 
									<div class="col-lg-6 form-group">
										<label class="control-label">广告名称：</label>
										<input type="text" name="name" class="form-control validate[required] text-input" placeholder="广告名称" aria-describedby="sizing-addon1" />
										
									</div>
									
									<div class="col-lg-6 form-group">
										<label class="control-label">无法显示广告时的替换文字：</label>
										<input type="text" name="altText" class="form-control validate[required] text-input" placeholder="无法显示广告时的替换文字" aria-describedby="sizing-addon1" />
										
									</div>
									<div class="col-lg-6 form-group">
										<label class="control-label">类型：</label>
										<select class="form-control" name="type">
											<!--<option value="T">文本</option>-->
											<option value="V">视频</option>
											<option value="I">图片</option>
											<option value="G">GIF图</option>
										</select>
										
									</div>
									<div class="col-lg-6 form-group">
										<label class="control-label">广告总展示次数：</label>
										<input type="text" name="totalDisplay" class="form-control validate[required,custom[integer]] text-input" placeholder="广告总展示次数" aria-describedby="sizing-addon1" />
										
									</div>
									<div class="col-lg-6 form-group">
										<label class="control-label">视频播放时间(秒)：</label>
										<input type="text" name="playTime" class="form-control" placeholder="视频播放时间(秒)" aria-describedby="sizing-addon1" />
									</div>
									<div class="col-lg-6 form-group">
										<label class="control-label">广告开始投放日期：</label>
										<input type="text" name="startDisplayDate" id="startDate" style="width:270px;height: 34px;" class="startDate" placeholder="广告开始投放日期" aria-describedby="sizing-addon1" />
									</div>
									<div class="col-lg-6 form-group">
										<label class="control-label" for="endDisplayDate">广告结束投放日期：</label>
										<input type="text" name="endDisplayDate" style="width:270px;height: 34px;" class="endDate" placeholder="广告结束投放日期" aria-describedby="sizing-addon1" />

									</div>
									<div class="col-lg-6 form-group">
										<label class="control-label">投放时间段开始：</label>
										<input type="text" name="startTime" style="width:270px;height: 34px;" value="09:30" class="startTime" placeholder="投放时间段开始" aria-describedby="sizing-addon1" />
									</div>
									<div class="col-lg-6 form-group">
										<label class="control-label">投放时间段结束：</label>
										<input type="text" name="endTime" style="width:270px;height: 34px;" value="19:30" class="endTime" placeholder="投放时间段结束" aria-describedby="sizing-addon1" />
										
									</div>
									<!--<div class="col-lg-6 form-group">
										<label class="control-label">权重：</label>
										<select id="type" class="form-control" name="weight">
											<option value="0">0</option>
										</select>
									</div>-->
									<input type="hidden" name="weight" value="0" />
									<div class="col-lg-6 form-group" id="zonediv">
										<label class="control-label" for="inputJob">广告对应的版位：</label>
										<!--<input type="text" name="playTime" class="form-control" placeholder="广告对应的版位" aria-describedby="sizing-addon1" />-->
										<select id="adselect" class="form-control"  name="zoneIds" style="width: 270px;height: 34px;" data-options="multiple:true,multiline:true" >
											
										</select>
									</div>
									<div class="col-lg-6 form-group" id="zonediv">
										<label class="control-label" for="inputJob">广告对应的客户：</label>
										<!--<input type="text" name="playTime" class="form-control" placeholder="广告对应的版位" aria-describedby="sizing-addon1" />-->
										<select id="customerIds" class="form-control"  name="customerId" style="width: 270px;height: 34px;">
											
										</select>
									</div>
									<div class="modal-footer">
										<button type="submit" class="btn btn-default">提交</button>
										
									</div>
									
								</form>
							</div>
						</div>
					</div>
					<!-- Modal -->
					<div class="modal fade" id="updateAdModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="myModalLabel">修改广告</h4>
								</div>
								<div class="modal-body">
									<form class="hzhform" name="upApk" id="updateForm" data-event="0x03040105" data-request="ensureAdlist" data-bs="hzh.pages.js.adlist.processUpdate" data-cb="hzh.pages.js.adlist.processBackUpdate">
										<div class="col-lg-6 form-group">
											<label class="control-label" for="inputJob">广告名称：</label>
											<input type="text" id="resourceName" name="name" class="form-control" placeholder="广告名称" aria-describedby="sizing-addon1" />
											<!--</div>-->
										</div>
										<div class="col-lg-6 form-group">
											<label class="control-label" for="inputJob">广告资源地址：</label>
											<input type="text" id="updateUrl" name="destinationUrl" class="form-control" placeholder="广告资源地址" aria-describedby="sizing-addon1" />
											<!--</div>-->
										</div>
										<div class="col-lg-6 form-group">
											<label class="control-label" for="inputJob">无法显示广告时的替换文字：</label>
											<input type="text" id="altText" name="altText" class="form-control" placeholder="无法显示广告时的替换文字" aria-describedby="sizing-addon1" />
											<!--</div>-->
										</div>
										<!--<div class="col-lg-6 form-group">
											<label class="control-label" for="inputJob">类型：</label>
											<select id="type" class="form-control" name="type">
												<option value="T">文本</option>
												<option value="V">视频</option>
												<option value="I">图片</option>
												<option value="G">GIF图</option>
											</select>
										</div>-->
										<div class="col-lg-6 form-group">
											<label class="control-label" for="inputJob">广告总展示次数：</label>
											<input type="text" id="totalDisplay" name="totalDisplay"  class="form-control" placeholder="广告总展示次数" aria-describedby="sizing-addon1" />
											<!--</div>-->
										</div>
										<div class="col-lg-6 form-group">
											<label class="control-label" for="inputJob">广告开始投放日期：</label>
											<input type="text" name="startDisplayDate" id="startDisplayDate" style="width:255px;height: 34px;" class="startDate" placeholder="广告开始投放日期" aria-describedby="sizing-addon1" />
											<!--</div>-->
										</div>
										<div class="col-lg-6 form-group">
											<label class="control-label" for="inputJob">广告结束投放日期：</label>
											<input type="text" name="endDisplayDate" id="endDisplayDate" style="width:255px;height: 34px;" class="endDate" placeholder="广告结束投放日期" aria-describedby="sizing-addon1" />

										</div>
										<div class="col-lg-6 form-group">
											<label class="control-label" for="inputJob">投放时间段开始：</label>
											<input type="text" id="startTime" name="startTime" style="width:255px;height: 34px;" class="startTime" placeholder="投放时间段开始" aria-describedby="sizing-addon1" />
											<!--</div>-->
										</div>
										<div class="col-lg-6 form-group">
											<label class="control-label" for="inputJob">投放时间段结束：</label>
											<input type="text" id="endTime" name="endTime" style="width:255px;height: 34px;" class="endTime" placeholder="投放时间段结束" aria-describedby="sizing-addon1" />
											<!--</div>-->
										</div>
										<div class="col-lg-6 form-group">
											<label class="control-label" for="weight">权重：</label>
											<!--<select id="weight" class="form-control" name="weight">
												<option value="0">0</option>
											</select>-->
											<input type="text" id="weight" name="weight" class="form-control" placeholder="权重" aria-describedby="sizing-addon1" />
											<!--</div>-->
										</div>
										<div class="col-lg-6 form-group">
											<label class="control-label" for="inputJob">视频播放时间(秒)：</label>
											<input type="text" id="playTime" name="playTime" class="form-control" placeholder="视频播放时间(秒)" aria-describedby="sizing-addon1" />
											<!--</div>-->
										</div>
										<div class="modal-footer">
											<button type="submit" class="btn btn-default">提交</button>
											<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
			<!-- /.panel-body -->
		</div>
		<!--<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">文档资源管理</h4>
        </div>
        <div class="modal-body">
        	<iframe id="aiframe" src="../elfinder-2.x/elfinder.html" width="100%" height="420" frameborder="0"></iframe>
        </div>
    </div>
  </div>
</div>-->
<!--<iframe id="aiframe" src="../elfinder-2.x/elfinder.html" width="100%" height="100%" frameborder="0"></iframe>-->
<!--		<script>
			function onFileSelected(files) {
				var addArr=[];
				$.each(files,function(i,e){
					addArr.push(files[i].url);
				});
				var r=confirm("确认添加？");
				if(r == true){
					$("#destinationUrl").val(addArr.join(","));
					$(".bs-example-modal-lg").modal("hide");
					hzh.alert("添加成功！");
				}
			}
		</script>-->
	</div>
	<!-- /.col-lg-12 -->
</div>