<div class="row">
	<div class="col-lg-12">
		<a id="beback" href="#">返回</a>
		<h1 class="page-header">展示页列表</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>

<div class="row">
	<div class="col-lg-12">

		<div class="panel panel-default">
			<div class="panel-heading">查询展示页
				<!--<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">查询展示页</a>
					</li>
					<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">添加展示页</a>
					</li>
				</ul>-->

			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="home">
						<div class="bs-example" data-example-id="bordered-table">
							<table class="table table-bordered">
								<thead>
									<tr>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<input type="text" id="page" class="form-control" placeholder="展示页" aria-describedby="sizing-addon1" />
										</td>
										<!--<td>
											<input type="text" id="zone" class="form-control" placeholder="版位" aria-describedby="sizing-addon1" />
										</td>
										<td>
											<input type="text" id="adName" class="form-control" placeholder="广告名称" aria-describedby="sizing-addon1" />
										</td>
										<td>
											<input type="text" id="customer" class="form-control" placeholder="广告客户" aria-describedby="sizing-addon1" />
										</td>
										<td>
											<input type="text" id="campaign" class="form-control" placeholder="广告项目" aria-describedby="sizing-addon1" />
										</td>-->
										<td style="text-align: center;">
											<input id="adListBtn" type="button" class="btn btn-default" value="查询" />
										</td>

									</tr>
								</tbody>
							</table>
						</div>

						<!-- Button trigger modal -->
						<button type="button" style="margin-bottom: 15px;" class="btn btn-default" data-toggle="modal" data-target="#myModal">添加展示页</button>

						<!-- Modal -->
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title" id="myModalLabel">添加展示页列表</h4>
									</div>
									<form class="formular"  data-event="0x03040117 " data-request="ADD_HOUSEHOLD_MULTI" data-bs="hzh.pages.js.adpage.processForm" data-cb="hzh.pages.js.adpage.processResponse">
										<div style="margin-top: 20px;"  class="col-lg-6 form-group">
											<label class="control-label">展示页名称：</label>
											<input type="text" name="name" class="form-control validate[required] text-input" placeholder="展示页名称" aria-describedby="sizing-addon1" />												
										</div>
										<div style="margin-top: 20px;"  class="col-lg-6 form-group">
											<label class="control-label">联系人：</label>
											<input type="text" name="linkman" class="form-control validate[required] text-input" placeholder="联系人" aria-describedby="sizing-addon1" />												
										</div>
										<div class="col-lg-6 form-group">
											<label class="control-label">邮箱：</label>
											<input type="text" name="email" class="form-control validate[required,custom[email]] text-input" placeholder="邮箱" aria-describedby="sizing-addon1" />												
										</div>
										<div class="col-lg-6 form-group">
											<label class="control-label">展示页链接：</label>
											<input type="text" name="url" class="form-control validate[required] text-input" placeholder="页面链接" aria-describedby="sizing-addon1" />												
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
											<button type="submit" class="btn btn-default">提交</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						
						<div class="modal fade" id="updatedapage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title" id="myModalLabel">修改展示页</h4>
									</div>
									<form class="formular" name="upApk" data-event="0x03040116" data-request="updateADPage" data-bs="hzh.pages.js.adpage.updateForm" data-cb="hzh.pages.js.adpage.updateResponse">
										<div style="margin-top: 20px;"  class="col-lg-6 form-group">
											<label class="control-label">展示页名称：</label>
											<input type="text" id="name" name="name" class="form-control validate[required] text-input" placeholder="展示页名称" aria-describedby="sizing-addon1" />												
										</div>
										<div style="margin-top: 20px;"  class="col-lg-6 form-group">
											<label class="control-label">联系人：</label>
											<input type="text" id="linkman" name="linkman" class="form-control validate[required] text-input" placeholder="联系人" aria-describedby="sizing-addon1" />												
										</div>
										<div class="col-lg-6 form-group">
											<label class="control-label">邮箱：</label>
											<input type="text" id="email" name="email" class="form-control validate[required,custom[email]] text-input" placeholder="邮箱" aria-describedby="sizing-addon1" />												
										</div>
										<div class="col-lg-6 form-group">
											<label class="control-label">展示页链接：</label>
											<input type="text" id="url" name="url" class="form-control validate[required] text-input" placeholder="页面链接" aria-describedby="sizing-addon1" />												
										</div>
										<div class="col-lg-6 form-group">
											<label class="control-label">展示页对应的版位：</label>
											<select id="zoneId" data-options="multiple:true,multiline:true" style="width:270px;height: 34px;">
												
											</select>
											<input type="hidden" id="zoneids" name="zoneId" class="form-control" />
											<!--<input type="text" id="zoneId" name="zoneId" class="form-control" placeholder="展示页对应的版位" aria-describedby="sizing-addon1" />-->												
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
											<button type="submit" class="btn btn-default">提交</button>
										</div>
									</form>
								</div>
							</div>
						</div>

						<!--<div class="panel panel-default">-->
							<!--<div class="panel-heading">展示页列表</div>-->
							<!--<div class="panel-body">-->

								<div class="dataTable_wrapper">
									<table class="table table-striped table-bordered table-hover" id="adListTable">
										<thead>
											<tr>
												<th>选择</th>
												<th class="hide">版位id</th>
												<th>展示页名称</th>
												<th>联系人</th>
												<th>邮箱地址</th>
												<th>页面链接</th>
												<th class="hide">版位</th>
												<th class="hide">项目</th>
												<th class="hide">客户</th>
												<th class="hide">广告</th>
												<th>操作</th>
											</tr>
										</thead>
										<tbody>

										</tbody>
									</table>
									<div class="paginateBox">

										<ul class="pagination">
										</ul>
									</div>
									<div id="checkAllBox">
										<input id="pagecheckBox" type="checkbox">全选
										<input type="button" class="btn btn-default" id="delAllpageBtn" value="删除所选" />
									</div>
								</div>
								<!-- /.table-responsive -->
							<!--</div>-->
							<!-- /.panel-body -->
						<!--</div>-->
					</div>
				</div>

			</div>
			<!-- /.panel-body -->
		</div>

		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>