<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">版本列表</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>

<div class="row">
	<div class="col-lg-12">

		<div class="panel panel-default">
			<div class="panel-heading">App列表
				<!--<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">查询app</a>
					</li>
					<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">添加app</a>
					</li>
				</ul>-->

			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="home">
						<div class="bs-example" data-example-id="bordered-table">
							<table class="table table-bordered">
								<thead>
									<tr>
									</tr>
								</thead>
								<tbody>
									<!--<tr>
											<input id="appListBtn" type="button" class="btn btn-default" value="查询" />
									</tr>-->
								</tbody>
							</table>
						</div>

						<!-- Button trigger modal -->
						<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">添加App</button>

						<!--<div class="panel panel-default">-->
							<!--<div class="panel-heading">App列表</div>-->
							<!--<div class="panel-body">-->

								<div class="dataTable_wrapper">
									<table class="table table-striped table-bordered table-hover" id="appListTable">
										<thead>
											<tr>
												<th>选择</th>
												<th>App的名称</th>
												<th>备注</th>
												<!--<th>是否删除</th>-->
												<th>操作</th>
											</tr>
										</thead>
										<tbody>

										</tbody>
									</table>
									<div class="paginateBox">

										<ul class="pagination">
										</ul>
									</div>
									<div id="checkAllBox">
										<input id="appcheckBox" type="checkbox">全选
										<input type="button" class="btn btn-default" id="delAllappBtn" value="删除所选" />
									</div>
								</div>
								<!-- /.table-responsive -->
							<!--</div>-->
							<!-- /.panel-body -->
						<!--</div>-->
					</div>

					<!-- Modal -->
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="myModalLabel">添加App列表</h4>
								</div>
								<!--<div class="modal-body">-->

									<form class="hzhform formular" data-event="0x03040127 " data-request="ADD_HOUSEHOLD_MULTI" data-bs="hzh.pages.js.appmanage.processForm" data-cb="hzh.pages.js.appmanage.processResponse">
										<div style="margin-top: 20px;" class="col-lg-6 form-group">
											<label class="control-label">App的名称：</label>
											<input type="text" name="appName" class="form-control validate[required] text-input" placeholder="App的名称" aria-describedby="sizing-addon1" />
											<!--</div>-->
										</div>
										<div style="margin-top: 20px;" class="col-lg-6 form-group">
											<label class="control-label">App用途：</label>
											<input type="text" name="remark" class="form-control validate[required] text-input" placeholder="App用途" aria-describedby="sizing-addon1" />
											<!--</div>-->
										</div>
										<!--<div class="col-lg-2">
								<div class="form-group">
									<input type="text" name="isDel" class="form-control" placeholder="App是否删除" aria-describedby="sizing-addon1" />
								</div>
							</div>-->
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
											<button type="submit" class="btn btn-default">提交</button>
										</div>
									</form>
								<!--</div>-->
							</div>
						</div>
					</div>
				</div>

			</div>
			<!-- /.panel-body -->
		</div>

		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>