<div class="row">
	<div class="col-lg-12">
		<a id="beback" href="#">返回</a>
		<h1 class="page-header">楼宇信息列表</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>

<div class="row">
	<div class="col-lg-12">

		<div class="panel panel-default">
			<div class="panel-heading">楼宇列表</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="home">
						<div class="bs-example" data-example-id="bordered-table">
							<table class="table table-bordered">
								<thead>
									<tr>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<input type="text" id="showName" class="form-control" placeholder="楼宇号" aria-describedby="sizing-addon1" />
										</td>
										<!--<td>
											<input type="text" id="communityName" class="form-control" placeholder="小区名称" aria-describedby="sizing-addon1" />
										</td>-->
										<td style="text-align: center;">
											<input id="queryBuildBtn" type="button" class="btn btn-default" value="查询" />
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						
						<button type="button" id="addBuild" class="btn btn-default" data-toggle="modal" data-target="#myModal">添加楼宇</button>

						<!--<div class="panel panel-default">-->
							<!--<div class="panel-heading">楼宇列表</div>-->
							<!--<div class="panel-body">-->

								<!--<div class="dataTable_wrapper">-->
									<table class="table table-striped table-bordered table-hover" id="buildingListTable">
										<thead>
											<tr>
												<th class="hide">ID</th>
												<th>楼宇号</th>
												<th>楼层数</th>
												<!--<th>楼宇名称</th>-->
												<th>小区名称</th>
												<th class="hide">小区id</th>
												<th>操作</th>
											</tr>
										</thead>
										<tbody>

										</tbody>
									</table>
									<div class="paginateBox">
										<ul class="pagination" id="buildingPage">
										</ul>
									</div>
									<!--<div id="checkAllBox">
										<input id="comcheckBox" type="checkbox">全选
										<input type="button" class="btn btn-default" id="delAllcomBtn" value="删除所选" />
									</div>-->
								<!--</div>-->
								<!-- /.table-responsive -->
							<!--</div>-->
						<!--</div>-->
					</div>
				</div>

			</div>
			<!-- /.panel-body -->
		</div>

		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>

<!-- Modal 添加 -->
<div class="modal fade" id="myModal"  role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">添加楼宇</h4>
      </div>
      <div class="modal-body">
      	<form class="hzhform formular" data-event="0x03060013" data-request="addBuilding" data-bs="hzh.pages.js.building.processForm" data-cb="hzh.pages.js.building.processResponse">
			<!--<input type="text" id="opinionId"/>-->
			<div class="col-sm-6 form-group">
				<label class="control-label">楼宇号：</label>
				<input type="text" name="buildingNum" id="BuildingNum" class="form-control validate[required,custom[number]] text-input" placeholder="楼宇号" aria-describedby="sizing-addon1" />
			</div>
			<div class="col-sm-6 form-group">
				<label class="control-label">楼层数：</label>
				<input type="text" name="storeyCount" id="storeyCount" class="form-control validate[required,custom[number]] text-input" placeholder="楼层数" aria-describedby="sizing-addon1" />
			</div>
			<!--<div class="form-group col-sm-6" id="householdId">
				<label class="control-label" style="display: block;">绑定户：</label>
			    <input type="text" id="communityId" class="validate[required] text-input" />											
				<div id="tb" style="padding:5px;height:auto;">
					<input id="inputval" type="text" placeholder="请输入户主名">
					<a href="#" id="btn" class="easyui-linkbutton" iconCls="icon-search">搜索</a>
				</div>										
			</div>-->
			<div class="col-sm-6 form-group">
				<label class="control-label">小区名称：</label>
				<select class="easyui-combobox form-control" name="communityId" id="communityId" style="width: 255px;height: 34px;">
											
				</select>
			</div>
			<!--<div class="col-sm-6 form-group">
				<label class="control-label">楼宇名称：</label>
				<input type="text" name="showName" id="showName" class="form-control validate[required] text-input" placeholder="楼宇名称" aria-describedby="sizing-addon1" />
			</div>-->
			<div class="footModal">
		        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		        <button type="submit" class="btn btn-default">提交</button>
		    </div>
			<!--<div style="text-align: right;">
				<button type="submit" class="btn btn-default">提交</button>
			</div>-->
		</form>		
      </div>
    </div>
  </div>
</div>

<!-- Modal修改 -->
<div class="modal fade" id="updateBuildModal" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">修改楼宇</h4>
      </div>
      <div class="modal-body">
      	<form class="hzhform formular" data-event="0x03060016" data-request="addBuilding" data-bs="hzh.pages.js.building.updateForm" data-cb="hzh.pages.js.building.updateResponse">
			<input type="hidden" id="buildingId"/>
			<div class="col-sm-6 form-group">
				<label class="control-label">楼宇号：</label>
				<input type="text" name="BuildingNum" id="BuildingNum" class="form-control buildupdateVal validate[required] text-input" placeholder="楼宇号" aria-describedby="sizing-addon1" />
			</div>
			<div class="col-sm-6 form-group">
				<label class="control-label">楼层数：</label>
				<input type="text" name="storeyCount" id="storeyCount" class="form-control buildupdateVal validate[required] text-input" placeholder="楼层数" aria-describedby="sizing-addon1" />
			</div>
			<!--<div class="col-sm-6 form-group">
				<label class="control-label">楼宇名称：</label>
				<input type="text" name="showName" id="showName" class="form-control validate[required] text-input" placeholder="楼宇名称" aria-describedby="sizing-addon1" />
			</div>-->
			<div class="col-sm-6 form-group" id="updateCommunitydiv">
				<label class="control-label">小区名称：</label>
				<input type="text" class="easyui-combobox form-control" name="communityId" id="updateCommunityId" style="width: 255px;height: 34px;">
				<!--<input type="hidden"  id="updateId" />-->
				
				<!--<div id="updateTb" style="padding:5px;height:auto;">
					<input id="inputval" type="text" placeholder="请输入户主名">
					<a href="#" id="btn" class="easyui-linkbutton" iconCls="icon-search">搜索</a>
				</div>-->
				
			</div>
			<div class="footModal">
		        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		        <button type="submit" class="btn btn-default">保存</button>
		    </div>
			<!--<div style="text-align: right;">
				<button type="submit" class="btn btn-default">提交</button>
			</div>-->
		</form>		
      </div>
    </div>
  </div>
</div>

