

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">帮助缴费</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            DataTables Advanced Tables
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-2"> <input type="text"class="form-control" placeholder="业主姓名" aria-describedby="sizing-addon1"/></div>
                            <div class="col-lg-2"> <input type="text"  data-date-format="mm/dd/yy" id="dp"class="form-control"placeholder="起始日期" aria-describedby="sizing-addon1" /></div>
                            <div class="col-lg-2"><input type="text"  data-date-format="mm/dd/yy" id="dpe"class="form-control" placeholder="截止日期" aria-describedby="sizing-addon1"/></div>
                            <div class="col-lg-1"><input type="button" id="abutton" class="btn btn-default"  value="查询" /></div>
                            <div class="col-lg-2"><input type="button"  class="btn btn-default"  value="帮助缴费" /></div>
						  
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                    <tr>
                                        <th>选择</th>
                                        <th>房房屋地址</th>
                                        <th>姓名</th>
                                        <th>性别</th>
                                        <th>费用项目</th>
                                        <th>项目指数</th>
                                        <th>项目单价</th>
                                        <th>费用日期</th>
                                        <th>费用金额</th>
                                        <th>已（无）欠费</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                      
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                            
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
		</div>

            <script>
//              $("#dp").datepicker();
//              $("#dpe").datepicker();


                $(document).ready(function() {
                    $('#dataTables-example').DataTable({
                    	bPaginate: false,
                        responsive: true,
                        "oLanguage": {
                            "sLengthMenu": "每页显示 _MENU_ 条记录",
                            "sZeroRecords": "抱歉， 没有找到",
                            "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                            "sInfoEmpty": "没有数据",
                            "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                            "oPaginate": {
                                "sFirst": "首页",
                                "sPrevious": "前一页",
                                "sNext": "后一页",
                                "sLast": "尾页"
                            },
                            "sZeroRecords": "没有检索到数据",
                            "sProcessing": "<img src='./loading.gif' />",
                            "sSearch":"搜索"
                        },
                        columns: [
                            {
                                data:   "extn",
                                render: function ( data, type, row ) {
                                    if ( type === 'display' ) {
                                        return '<input type="checkbox" class="editor-active row-cbx" data-row="'+data+'">';
                                    }
                                    return data;
                                },
                                className: "dt-body-center"
                            },
                            { data: "num" },
                            { data: "username" },
                            { data: "sex" },
                            { data: "name" },
                            { data: "position" },
                            { data: "salary" },
                            { data: "start_date" },
                            { data: "office" },
                            { data: "date" }
                        ], "data": [
                            {
                                "num":       "弟弟小区3-2-19-8",
                                "username":   "张三",
                                "sex":       "男",
                                "name":       "电费",
                                "position":   "36",
                                "salary":     "3(元)/°",
                                "start_date": "2011/04/25",
                                "office":     "288",
                                "date":       "已欠费",
                                "extn":       "665421"
                            },
                            {
                                "num":       "弟弟小区3-2-19-8",
                                "username":   "张三",
                                "sex":       "男",
                                "name": "气费",
                                "position": "98m³",
                                "salary": "3(元)/m³",
                                "start_date": "2011/07/25",
                                "office": "999",
                                "date":     "无欠费",
                                "extn": "8422"
                            }
                        ]
                    });

                    $("#abutton").click(onaclick);
                });
                function onaclick(){
                    $(".row-cbx:checked").each(function(i,e){
                        alert($(e).data("row"));
                    });
                }
            </script>