<div class="row">
	<div class="col-lg-12">
		<a id="beback" href="#">返回</a>
		<h1 class="page-header">项目列表</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>

<div class="row">
	<div class="col-lg-12">

		<div class="panel panel-default">
			<div class="panel-heading">查询项目</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="home">
						<div class="bs-example" data-example-id="bordered-table">
							<table class="table table-bordered">
								<thead>
									<!--<tr>
									</tr>-->
								</thead>
								<tbody>
									<tr>
										<!--<td>
											<input type="text" id="page" class="form-control" placeholder="展示页" aria-describedby="sizing-addon1" />
										</td>-->
										<td>
											<input type="text" id="campaign" class="form-control" placeholder="项目名称" aria-describedby="sizing-addon1" />
										</td>
										<td>
											<input type="text" id="customer" class="form-control" placeholder="客户名称" aria-describedby="sizing-addon1" />
										</td>
										<td>
											<input type="text" id="zone" class="form-control" placeholder="版位" aria-describedby="sizing-addon1" />
										</td>
										<!--<td>
											<input type="text" id="adName" class="form-control" placeholder="广告名称" aria-describedby="sizing-addon1" />
										</td>-->
										<td>
											<input id="camListBtn" type="button" class="btn btn-default" value="查询" />
										</td>

									</tr>
								</tbody>
							</table>
						</div>

						<!-- Button trigger modal -->
						<button type="button" id="addcampaign" class="btn btn-default" data-toggle="modal" data-target="#myModal">添加项目</button>

						<!--<div class="panel panel-default">-->
							<!--<div class="panel-heading">项目列表</div>-->
							<!--<div class="panel-body">-->
								<div class="dataTable_wrapper">
									<table class="table table-striped table-bordered table-hover" id="campaignListTable">
										<thead>
											<tr>
												<th>选择</th>
												<th class="hide"></th>
												<th>项目名称</th>
												<th>联系人</th>
												<th  class="hide">邮箱</th>
												<th>客户名称</th>
												<th>版位</th>
												<th  class="hide">页面</th>
												<th  class="hide">广告</th>
												<th>操作</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
									<div class="paginateBox">
										<ul class="pagination" id="camPage"></ul>										
									</div>
									<div id="checkAllBox">
										<input id="campcheckBox" type="checkbox">全选
										<input type="button" class="btn btn-default" id="delAllcampBtn" value="删除所选" />
									</div>
								</div>
								<!-- /.table-responsive -->
							<!--</div>-->
							<!-- /.panel-body -->
						<!--</div>-->
					</div>

					<!-- Modal -->
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="myModalLabel">添加项目列表</h4>
								</div>
								<form class="formular" data-event="0x03040111" data-request="addADCampaign" data-bs="hzh.pages.js.campaign.processForm" data-cb="hzh.pages.js.campaign.processResponse">

									<div style="margin-top: 20px;" class="col-lg-6 form-group">
										<label class="control-label">项目名称：</label>
										<input type="text" name="name" class="form-control validate[required] text-input" placeholder="项目名称" aria-describedby="sizing-addon1" />
										
									</div>
									<div style="margin-top: 20px;" class="col-lg-6 form-group">
										<label class="control-label">项目联系人：</label>
										<input type="text" name="contact" class="form-control validate[required] text-input" placeholder="项目联系人" aria-describedby="sizing-addon1" />
										
									</div>
									<div class="col-lg-6 form-group">
										<label class="control-label">联系人邮箱：</label>
										<input type="text" name="email" class="form-control validate[required,custom[email]] text-input" placeholder="联系人邮箱" aria-describedby="sizing-addon1" />
										
									</div>
									<div class="col-lg-6 form-group">
										<label class="control-label">项目对应的客户：</label>
										<select class="form-control" id="customerId" name="customerId" style="width: 265px;height: 34px;">
											
										</select>		                                
									</div>
									<div class="col-lg-6 form-group">
										<label class="control-label">项目对应的版位：</label>
										<select class="easyui-combobox form-control" id="zoneselect" name="zoneIds" data-options="multiple:true,multiline:true" style="width: 265px;height: 34px;">
											
										</select>
	                                    <!--<input type="hidden" name="zoneId" id="zoneid" class="form-control">-->
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
										<button type="submit" id="addcampaignBtn" class="btn btn-default">提交</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					
					<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="myModalLabel">修改项目列表</h4>
								</div>
								<form class="formular" name="upApk" data-event="0x03040113" data-request="updateADCampaign" data-bs="hzh.pages.js.campaign.updateForm" data-cb="hzh.pages.js.campaign.updateResponse">
									<div style="margin-top: 20px;" class="col-lg-6 form-group">
										<label class="control-label">项目名称：</label>
										<input type="text" id="name" name="name" class="form-control" placeholder="项目名称" aria-describedby="sizing-addon1" />										
									</div>
									<div style="margin-top: 20px;" class="col-lg-6 form-group">
										<label class="control-label">项目联系人：</label>
										<input type="text" id="contact" name="contact" class="form-control" placeholder="项目联系人" aria-describedby="sizing-addon1" />										
									</div>
									<div class="col-lg-6 form-group">
										<label class="control-label">联系人邮箱：</label>
										<input type="text" id="email" name="email" class="form-control validate[required,custom[email]] text-input" placeholder="联系人邮箱" aria-describedby="sizing-addon1" />										
									</div>
									<div class="col-lg-6 form-group" id="updateCusDiv">
										<label class="control-label">项目对应的客户：</label>
										<select class="form-control" name="customerId" id="customerid" style="width: 265px;height: 34px;">											
										
										</select>		
										<input type="hidden" id="updateId" />
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
										<button type="submit" id="addcampaignBtn" class="btn btn-default">提交</button>
									</div>
								</form>
							</div>
						</div>
					</div>

					<!-- Modal -->
					<div class="modal fade fmodal" id="campZoneBtn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" id="content" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
									</button>
									<h4 class="modal-title" id="myModalLabel">版位列表</h4>
								</div>
								<div class="modal-body">
									<div class="panel-body">
										<div class="dataTable_wrapper">
											<table class="table table-striped table-bordered table-hover" id="campZoneTable">
												<thead>
													<tr>
														<th>版位账户</th>
														<th>版位名称</th>
														<th>项目是否对应该版位</th>
													</tr>
												</thead>
												<tbody>
												</tbody>
											</table>
										</div>
										<!-- /.table-responsive -->
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
									<button id="updateCampZoneBtn" type="button" class="btn btn-primary">保存</button>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<!-- /.panel-body -->
		</div>

		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>