<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">小区信息列表</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>

<div class="row">
	<div class="col-lg-12">

		<div class="panel panel-default">
			<div class="panel-heading">小区信息
				<!--<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">查询app</a>
					</li>
					<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">添加app</a>
					</li>
				</ul>-->

			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="home">
						<div class="bs-example" data-example-id="bordered-table">
							<table class="table table-bordered">
								<thead>
									<tr>
									</tr>
								</thead>
								<tbody>
									<!--<tr>
											<input id="appListBtn" type="button" class="btn btn-default" value="查询" />
									</tr>-->
								</tbody>
							</table>
						</div>

						<!-- Button trigger modal -->
						<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">添加小区信息</button>

						<!--<div class="panel panel-default">-->
							<!--<div class="panel-heading">小区信息</div>-->
							<!--<div class="panel-body">-->

								<!--<div class="dataTable_wrapper">-->
									<table class="table table-striped table-bordered table-hover" id="cummunityListTable">
										<thead>
											<tr>
												<th>选择</th>
												<th class="hide"></th>
												<th>ID</th>
												<th>名称</th>
												<th>地址</th>
												<th>类型</th>
												<th>投入使用时间</th>
												<th>住户数量</th>
												<th>开发商</th>
												<th>操作</th>
											</tr>
										</thead>
										<tbody>

										</tbody>
									</table>
									<div class="paginateBox">

										<ul class="pagination">
										</ul>
									</div>
									<div id="checkAllBox">
										<input id="comcheckBox" type="checkbox">全选
										<input type="button" class="btn btn-default" id="delAllcomBtn" value="删除所选" />
									</div>
								<!--</div>-->
								<!-- /.table-responsive -->
							<!--</div>-->
							<!-- /.panel-body -->
						<!--</div>-->
					</div>

					
					
					<div class="modal fade" id="updateModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
									</button>
									<h4 class="modal-title" id="myModalLabel">修改列表</h4>
								</div>
								<div class="modal-body">
									<form class="formular" data-event="0x03020120" data-request="updateCommunity" data-bs="hzh.pages.js.community.processUpdate" data-cb="hzh.pages.js.community.updateResponse">
										
										<div class="col-lg-6 form-group">
											<label class="control-label">小区名称：</label>
											<input type="text" name="name" class="form-control validate[required] text-input" placeholder="小区名称" aria-describedby="sizing-addon1" />
										</div>
										
										<div class="col-lg-6 form-group">
											<label class="control-label">住户数量：</label>
											<input type="text" name="householdCount" class="form-control validate[required,custom[integer]] text-input" placeholder="住户数量" aria-describedby="sizing-addon1" />
										</div>
										
										<div class="col-lg-6 form-group">
											<label class="control-label">开发商：</label>
											<input type="text" name="realEstateDeveloper" class="form-control validate[required] text-input" placeholder="开发商" aria-describedby="sizing-addon1" />
										</div>
										<div class="col-lg-6 form-group">
											<label class="control-label">小区地址：</label>
											<input type="text" name="cityId" id="updatecityId" style="width: 255px;height: 34px;" />
											<div id="updateTb" style="padding:8px;height:auto;">
												<input id="updateComVal" type="text" style="display: inline-block;" placeholder="请输入城市名称">
												<a href="#" id="updateComBtn" class="easyui-linkbutton" iconCls="icon-search">搜索</a>
											</div>
											<!--<input type="text" name="address" class="form-control validate[required] text-input" placeholder="小区地址" aria-describedby="sizing-addon1" />-->
										</div>
										<div class="col-lg-6 form-group">
											<label class="control-label">小区类型：</label>
											<select id="type" name="type" class="form-control">
												<option value="true">商用</option>
												<option value="false">居住</option>
											</select>
											<!--<input type="text" name="type" class="form-control validate[required] text-input" placeholder="小区类型" aria-describedby="sizing-addon1" />-->
										</div>
										<div class="col-lg-6 form-group">
											<label class="control-label">投入使用时间：</label>
											<input type="text" id="updateDate" name="buildDate" class="buildDate" style="width:255px;height: 34px;">
										</div>
										<div class="footModal">
											<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
											<button type="submit" id="updateBtn" class="btn btn-default ">提交</button>
										</div>

									</form>
								</div>
							</div>
						</div>
					</div>
					
					<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
									</button>
									<h4 class="modal-title" id="myModalLabel">添加列表</h4>
								</div>
								<div class="modal-body">
									<form class="formular" data-event="0x03020117" data-request="addCommunity" data-bs="hzh.pages.js.community.processForm" data-cb="hzh.pages.js.community.processResponse">
										<div class="col-lg-6 form-group">
											<label class="control-label">小区ID：</label>
											<input type="text" id="id" name="id" class="form-control validate[required,custom[integer]] text-input" placeholder="小区id" aria-describedby="sizing-addon1" />
										</div>
										<div class="col-lg-6 form-group">
											<label class="control-label">小区名称：</label>
											<input type="text" id="name" name="name" class="form-control validate[required] text-input" placeholder="小区名称" aria-describedby="sizing-addon1" />
											
										</div>
										
										
										<div class="col-lg-6 form-group">
											<label class="control-label">小区类型：</label>
											<select name="type" class="form-control">
												<option value="true">商用</option>
												<option value="false">居住</option>
											</select>
										</div>
										<div class="col-lg-6 form-group">
											<label class="control-label">住户数量：</label>
											<input type="text" id="householdCount" name="householdCount" class="form-control validate[required,custom[integer]] text-input" placeholder="住户数量" aria-describedby="sizing-addon1" />
										</div>
										<div class="col-lg-6 form-group">
											<label class="control-label">小区对应的城市：</label>
											<input type="text" name="cityId" id="cityId" style="width: 255px;height: 34px;" />
											<div id="tb" style="padding:8px;height:auto;">
												<!--<textarea id="inputval"></textarea>-->
												<input id="addComval" type="text" style="display: inline-block;" placeholder="请输入城市名称">
												<a href="#" id="addComBtn" class="easyui-linkbutton" iconCls="icon-search">搜索</a>
											</div>
											
										</div>
										<div class="col-lg-6 form-group">
											<label class="control-label">开发商：</label>
											<input type="text" id="developer" name="realEstateDeveloper" class="form-control validate[required] text-input" placeholder="开发商" aria-describedby="sizing-addon1" />
										</div>
										<div class="col-lg-6 form-group">
											<label class="control-label">投入使用时间：</label>
											<input type="text" name="buildDate" class="buildDate" style="width:255px;height: 34px;" >
										</div>
										
										
										<div class="footModal">
											<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
											<button type="submit" class="btn btn-default">提交</button>
										</div>

									</form>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<!-- /.panel-body -->
		</div>

		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>