<div class="row">
	<div class="col-lg-12">
		<a id="beback" href="#">返回</a>
		<h1 class="page-header">配置列表</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>

<div class="row">
	<div class="col-lg-12">

		<div class="panel panel-default">
			<div class="panel-heading">查询配置项
				<!--<ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">查询配置项</a>
                    </li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">添加配置项</a>
                    </li>
                </ul>-->
			</div>
			<div class="panel-body">
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="home">
						<div class="bs-example" data-example-id="bordered-table">
							<table class="table table-bordered">
								<thead>
									<tr>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<input type="text" id="name" class="form-control" placeholder="配置项名称" aria-describedby="sizing-addon1" />
										</td>
										<input size="14" type="hidden" id="group" placeholder="" readonly class="form-control" aria-describedby="sizing-addon1">
										<input size="14" type="hidden" id="param" placeholder="" readonly class="form-control" aria-describedby="sizing-addon1">

										<td>
											<input size="14" type="text" id="version" placeholder="版本对应配置项" class="form-control" aria-describedby="sizing-addon1">
										</td>
										<td>
											<input size="14" type="text" id="loginName" placeholder="用户对应配置项" class="form-control" aria-describedby="sizing-addon1">
										</td>
										<td style="text-align: center;">
											<input id="configListBtn" type="button" class="btn btn-default" value="查询" />
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- Button trigger modal -->
						<button type="button" id="addconfigBtn" class="btn btn-default" data-toggle="modal" data-target="#myModal">添加配置项</button>
						<!--<div class="panel panel-default">-->
							<!--<div class="panel-heading">版本列表</div>-->
							<!--<div class="panel-body">-->
								<div class="dataTable_wrapper">
									<table class="table table-striped table-bordered table-hover" id="configListTable">
										<thead>
											<tr>
												<th>选择</th>
												<th>配置项名称</th>
												<th>group</th>
												<th>param</th>
												<th>配置项对应版本</th>
												<th>配置项内容</th>
												<th>配置项对应用户名</th>
												<th>操作</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
									<div class="paginateBox">
										<ul class="pagination">
										</ul>
									</div>
									<div id="checkAllBox">
										<input id="appcheckBox" type="checkbox">全选
										<input type="button" class="btn btn-default" id="delAllappBtn" value="删除所选" />
									</div>
								</div>
								<!-- /.table-responsive -->
							<!--</div>-->
							<!-- /.panel-body -->
						<!--</div>-->
					</div>

					<!-- Modal -->
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="myModalLabel">添加配置项列表</h4>
								</div>
								<form class="hzhform formular" data-event="0x03050002" data-request="ADD_HOUSEHOLD_MULTI" data-bs="hzh.pages.js.config.processForm" data-cb="hzh.pages.js.config.processResponse">
									<div style="margin-top: 20px;" class="col-lg-6 form-group">
										<label class="control-label">配置项名称：</label>
										<input type="text" name="name" class="form-control validate[required] text-input" placeholder="配置项名称" aria-describedby="sizing-addon1" />
									</div>
									<div style="margin-top: 20px;" class="col-lg-6 form-group">
										<label class="control-label">配置项内容：</label>
										<input type="text" name="confContent" class="form-control validate[required] text-input" placeholder="配置项内容" aria-describedby="sizing-addon1" />
									</div>
									<div class="col-lg-6 form-group">
										<label class="control-label">配置所对应用户名：</label>
										<!--<input type="text" name="userId" class="form-control validate[required] text-input" placeholder="配置所对应用户名" aria-describedby="sizing-addon1" />-->
										<select name="userId" id="userName" class="form-control">
											
										</select>
									</div>
									<div class="col-lg-6 form-group">
										<label class="control-label">配置项对应版本：</label>
										<select id="type" class="form-control" name="version">
											<option value="alpha">alpha版本</option>
											<option value="beta">beta版本</option>
											<option value="rc">rc版本</option>
											<option value="stable">stable版本</option>
										</select>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
										<button type="submit" class="btn btn-default">提交</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>

			</div>
			<!-- /.panel-body -->
		</div>

		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>