<div class="row">
	<div class="col-lg-12">
		<a id="beback" href="#">返回</a>
		<h1 class="page-header">客户列表</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>

<div class="row">
	<div class="col-lg-12">

		<div class="panel panel-default">
			<div class="panel-heading">查询客户</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="home">
						<div class="bs-example" data-example-id="bordered-table">
							<table class="table table-bordered">
								<thead>
									<!--<tr>
									</tr>-->
								</thead>
								<tbody>
									<tr>
										<tr>
											<!--<td>
												<input type="text" id="page" class="form-control" placeholder="展示页" aria-describedby="sizing-addon1" />
											</td>
											<td>
												<input type="text" id="zone" class="form-control" placeholder="版位" aria-describedby="sizing-addon1" />
											</td>
											<td>
												<input type="text" id="adName" class="form-control" placeholder="广告名称" aria-describedby="sizing-addon1" />
											</td>-->
											<td>
												<input type="text" id="customer" class="form-control" placeholder="客户名称" aria-describedby="sizing-addon1" />
											</td>
											<!--<td>
												<input type="text" id="campaign" class="form-control" placeholder="广告项目" aria-describedby="sizing-addon1" />
											</td>-->
											<td style="text-align: center;">
												<input id="customerListBtn" type="button" class="btn btn-default" value="查询" />
											</td>

										</tr>
								</tbody>
							</table>
						</div>

						<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">添加客户</button>

						<!--<div class="panel panel-default">-->
							<!--<div class="panel-heading">客户列表</div>-->
							<!--<div class="panel-body">-->
								<div class="dataTable_wrapper">
									<table class="table table-striped table-bordered table-hover" id="customerListTable">
										<thead>
											<tr>
												<th>选择</th>
												<th style="hide">campaignId</th>
												<th>客户名称</th>
												<th>联系人</th>
												<th >邮箱</th>
												<th>描述</th>
												<th style="hide">是否发送报表</th>
												<th style="hide">发送周期</th>
												<th style="hide">项目</th>
												<th style="hide">页面</th>
												<th style="hide">广告</th>
												<th style="hide">版位</th>
												<th>操作</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
									<div class="paginateBox">
										<ul class="pagination">
										</ul>
									</div>
									<div id="checkAllBox">
										<input id="cuscheckBox" type="checkbox">全选
										<input type="button" class="btn btn-default" id="delAllcusBtn" value="删除所选" />
									</div>
								</div>
								<!-- /.table-responsive -->
							<!--</div>-->
							<!-- /.panel-body -->
						<!--</div>-->
					</div>

					<!-- Modal -->
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="myModalLabel">添加客户列表</h4>
								</div>
								<!--<div class="modal-body">-->

									<form class="formular"  id="addcustomerForm" data-event="0x03040107" data-request="addADCustomer" data-bs="hzh.pages.js.customer.processForm" data-cb="hzh.pages.js.customer.processResponse">
										<div style="margin-top: 20px;" class="col-lg-6 form-group">
											<label class="control-label">客户名称：</label>
											<input type="text" name="name" class="form-control validate[required] text-input" placeholder="客户名称" aria-describedby="sizing-addon1" />
											
										</div>
										<div style="margin-top: 20px;" class="col-lg-6 form-group">
											<label class="control-label">客户联系人：</label>
											<input type="text" name="linkman" class="form-control validate[required] text-input" placeholder="客户联系人" aria-describedby="sizing-addon1" />
											
										</div>
										<div class="col-lg-6 form-group">
											<label class="control-label">联系人邮箱：</label>
											<input type="text" validate="email" name="email" class="form-control validate[required,custom[email]] text-input" placeholder="联系人邮箱" aria-describedby="sizing-addon1" />
											
										</div>
										<div class="col-lg-6 form-group">
											<label class="control-label">描述：</label>
												<input type="text" name="remark" class="form-control" placeholder="描述" aria-describedby="sizing-addon1" />
											
										</div>
										<div class="col-lg-6 form-group">
											<label class="control-label">是否通过email发送报表：</label>
											<select id="type" class="form-control" name="sendReport">
												<option value="true">是</option>
												<option value="false">否</option>
											</select>
												<!--<input type="text" name="sendReport" class="form-control" placeholder="是否通过email发送报表" aria-describedby="sizing-addon1" />-->
											
										</div>
										<div class="col-lg-6 form-group">
											<label class="control-label">报表发送周期：</label>
											<input type="text" name="sendCycle" class="form-control" placeholder="报表发送周期" aria-describedby="sizing-addon1" />
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
											<button type="submit" class="btn btn-default">提交</button>
										</div>

									</form>

								<!--</div>-->

							</div>
						</div>
					</div>
					
					
					<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="myModalLabel">修改客户列表</h4>
								</div>
									<form class="hzhform formular"  data-event="0x03040109" data-request="updateADCustomer" data-bs="hzh.pages.js.customer.updateForm" data-cb="hzh.pages.js.customer.updateBack">
										<div style="margin-top: 20px;" class="col-lg-6 form-group">
											<label class="control-label">客户名称：</label>
											<input type="text" id="name" name="name" class="form-control validate[required] text-input" placeholder="客户名称" aria-describedby="sizing-addon1" />
											
										</div>
										<div style="margin-top: 20px;" class="col-lg-6 form-group">
											<label class="control-label">客户联系人：</label>
											<input type="text" id="linkman" name="linkman" class="form-control validate[required] text-input" placeholder="客户联系人" aria-describedby="sizing-addon1" />
											
										</div>
										<div class="col-lg-6 form-group">
											<label class="control-label">联系人邮箱：</label>
											<input type="text" id="email" validate="email" name="email" class="form-control validate[required,custom[email]] text-input" placeholder="联系人邮箱" aria-describedby="sizing-addon1" />
											
										</div>
										<div class="col-lg-6 form-group">
											<label class="control-label">描述：</label>
												<input type="text" id="remark" name="remark" class="form-control" placeholder="描述" aria-describedby="sizing-addon1" />											
										</div>
										<div class="col-lg-6 form-group">
											<label class="control-label">是否发送报表：</label>
											<select id="sendReport" class="form-control" name="sendReport">
												<option value="false">否</option>
												<option value="true">是</option>
												
											</select>																							
										</div>
										<div class="col-lg-6 form-group">
											<label class="control-label">报表发送周期：</label>
											<input type="text" id="sendCycle" name="sendCycle" class="form-control" placeholder="报表发送周期" aria-describedby="sizing-addon1" />
										</div>
										<div class="col-lg-6 form-group">
											<label class="control-label">客户对应的项目：</label>
											<select data-options="multiple:true,multiline:true" style="width:270px;height: 34px;" id="campaignName" name="campaignId">
												
											</select>
											<input type="hidden" class="form-control" id="campaignId" name="campaignId"/>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
											<button type="submit" class="btn btn-default">提交</button>
										</div>
									</form>

								<!--</div>-->

							</div>
						</div>
					</div>
					
				</div>

			</div>
			<!-- /.panel-body -->
		</div>

		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>