<div class="modal fade bs-example-modal-lg" id="fjfModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">添加附加费</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal formular hzhform" data-bs="hzh.pages.js.editSurcharge.processForm" data-request="add" data-cb="hzh.pages.js.editSurcharge.processResponse">
					<div class="form-group">
						<div class="col-sm-6">
							<label class="control-label">费用编号 *</label>
							<input class="form-control validate[required,custom[integer]] text-input" name="utilitiesCode" placeholder="费用编号">
						</div>
						<div class="col-sm-6">
							<label class="control-label">费率</label>
							<input class="form-control validate[required,custom[number]] text-input" name="rate" placeholder="数字">
						</div>
						
					</div>
					<div class="form-group">
						<div class="col-sm-6">
							<label class="control-label">费用名称 *</label>
							<select id="expensename" name="isInternal" class="form-control">
								<option value="0">附加费</option>
								<option value="1">水费</option>
								<option value="1">电费</option>
								<option value="1">燃气费</option>
							</select>
							<!--<input class="form-control validate[required] text-input" name="utilitiesName" placeholder="费用名称">-->
						</div>
						<div class="col-sm-6" id="addpaycompanydiv">
							<label class="control-label">收费公司 *</label>
							<select id="addpaycompany" name="isInternal" class="form-control">
								<!--<option value="0">物业代收</option>-->
							</select>
							<!--<input class="form-control validate[required] text-input" name="utilitiesName" placeholder="费用名称">-->
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-6" id="deadline">
							<label style="display: block;font-weight:700;">截至缴费时间*</label>
							<div style="display: inline-block;">
								<input type="radio" checked="checked" name="lateFee"/><input id="days" type="text" class="month" name="lateFee"/>天
							</div>
							
							<label class="control-label" style="  padding: 10px 20px;">或</label>
							<div id="month" style="display: inline-block;">
								<input type="radio" name="lateFee"/><input type="text" class="month monthinput" name="lateFee" />月
								<input type="text" name="lateFee" class="month monthinput days" />天
							</div>
						</div>
					</div>
					<div class="form-group" id="additionalfee">
						<div class="col-sm-6">
							<label class="control-label">费用名称 *</label>
							<input class="form-control validate[required] text-input" name="utilitiesName" placeholder="费用名称">
						</div>
						<div class="col-sm-12">
							<label style="display: block;font-weight: 700;">项目*</label>
							<div id="add">
								<!--<div class="addProject" style="float: left;">
									<select  name="lateFeeScript">
										<option value="">--选择--</option>
										<option value="">应缴费用</option>
										<option value="chargeOffDate">逾期时间</option>
										<option value="standard">楼层</option>
										<option value="aa">面积</option>
										<option value="aa">人数</option>
										<option value="cardinal">用量</option>
										<option value="rate">费率</option>
									</select>
								</div>-->
							</div>
							
						</div>
					</div>
					
					<!--<div class="form-group">
						<div class="col-sm-6">
							<label class="control-label">费率</label>
							<input class="form-control" name="rate" placeholder="数字">
						</div>
						<div class="col-sm-6">
							<label class="control-label">缴费基数</label>
							<input class="form-control" name="cardinal" placeholder="数字">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-6">
							<label class="control-label">备注</label>
							<input class="form-control" name="remark" placeholder="备注">
						</div>
					</div>-->
					<div class="modal-footer">
						<button type="button" id="addProjectBtn" class="btn btn-default">添加项目</button>
						<button type="submit" class="btn btn-default">确认</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					</div>
				</form>
			</div>

		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="fjfupdatemodal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">修改附加费</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal hzhform" data-event="0x03020301" data-bs="hzh.pages.js.editSurcharge.processResquest" data-request="" data-cb="hzh.pages.js.editSurcharge.processBack">
					<div class="form-group">
						<div class="col-sm-6">
							<label class="control-label">费用名称 *</label>
							<input id="utilitiesName" class="form-control" name="utilitiesName" placeholder="费用名称">
						</div>
						<div class="col-sm-6">
							<label class="control-label">费率</label>
							<input class="form-control" id="rate" name="rate" placeholder="数字">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-6">
							<label class="control-label">备注</label>
							<input class="form-control" id="remark" name="remark" placeholder="备注">
						</div>
					</div>
					<div class="form-group">
						<label style="display: block;font-weight: 700;">项目*</label>
						<div id="updatefjf">
							<!--<div class="addProject" style="float: left;">
								<select  name="lateFeeScript">
									<option value="">--选择--</option>
									<option value="">应缴费用</option>
									<option value="chargeOffDate">逾期时间</option>
									<option value="standard">楼层</option>
									<option value="aa">面积</option>
									<option value="aa">人数</option>
									<option value="cardinal">用量</option>
									<option value="rate">费率</option>
								</select>
							</div>-->
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" id="updateProjectBtn" class="btn btn-default">添加项目</button>
						<button type="submit" class="btn btn-default">确认</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					</div>
				</form>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">附加费管理</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">附加费编辑</a></li>
					<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">附加费录入</a></li>
				</ul>
			</div>

			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="home">
					<!-- /.panel-heading -->
					<div class="panel-body">
						<input type="button" class="btn btn-default addfjf" data-toggle="modal" data-target="#fjfModal" value="添加" />
						<input type="button" id="delButton" class="btn btn-default" value="选择删除" />
						<div class="dataTable_wrapper">
							<table class="table table-striped table-bordered table-hover" id="fjfTable">
								<thead>
									<tr>
										<th>选择</th>
										<th>小区</th>
										<th>费用ID</th>
										<th>费用名称</th>
										<th class="hide">费用编号</th>
										<th>计算方法</th>
										<th>最后缴费时间</th>
										<th>费率</th>
										<th>备注</th>
										<!--<th>是否内置收费项</th>-->
										<th  class="hide">是否删除</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>

								</tbody>
							</table>
							<div class="paginateBox">
								<ul class="pagination">
								</ul>
							</div>
						</div>
						<!-- /.table-responsive -->

					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="profile">
					<!-- /.panel-heading -->
					<div class="panel-body">
						<div class="col-lg-12">
							<form class="hzhform" name="demoForm" id="demoForm" data-event="0x03020311" data-request="ADD_HOUSEHOLD_MULTI" data-bs="hzh.pages.js.editSurcharge.processEnter" data-cb="hzh.pages.js.editSurcharge.processEnterResponse">
								<div class="form-group">
									<label for="upAddition">上传一个Excel文件</label>
									<input type="file" style="display: inline-block;" id="upAddition" accept=".xls,.xlsx">
									<button style="margin-left: -50px;" type="submit" class="btn btn-default">提交</button>
								</div>
								<a href="http://112.124.114.224:90/template/paymentItems.xlsx"><input type="button" value="表格模版下载" /></a>
							</form>
						</div>
					</div>
					
				</div>
			</div>

			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
