
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">公告管理</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            DataTables Advanced Tables
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                        <div class="col-lg-6"></div>
						<div class="col-lg-1"><a href="addgao.html"><input type="button" class="btn btn-default" value="添加" /></a></div>
						  <div class="col-lg-1"><a href="updategao.html"><input type="button"  value="选择修改" class="btn btn-default" /></a></div>
							 <div class="col-lg-2"><input type="button" id="abutton" class="btn btn-default"  value="选择删除" /></div>
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
										    <th>选择</th>
                                            <th>公告标题</th>
                                            <th>公告内容</th>
                                            <th>发布时间</th>
                                            <th>发布人</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                            
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <script>
                $(document).ready(function() {
                    $('#dataTables-example').DataTable({
                        responsive: true,
                        "oLanguage": {
                            "sLengthMenu": "每页显示 _MENU_ 条记录",
                            "sZeroRecords": "抱歉， 没有找到",
                            "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                            "sInfoEmpty": "没有数据",
                            "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                            "oPaginate": {
                                "sFirst": "首页",
                                "sPrevious": "前一页",
                                "sNext": "后一页",
                                "sLast": "尾页"
                            },
                            "sZeroRecords": "没有检索到数据",
                            "sProcessing": "<img src='./loading.gif' />",
                            "sSearch":"搜索"
                        },
                        columns: [
                            {
                                data:   "extn",
                                render: function ( data, type, row ) {
                                    if ( type === 'display' ) {
                                        return '<input type="checkbox" class="editor-active row-cbx" data-row="'+data+'">';
                                    }
                                    return data;
                                },
                                className: "dt-body-center"
                            },
                            { data: "name" },
                            { data: "position" },
                            { data: "salary" },
                            { data: "start_date" },


                        ], "data": [
                            {
                                "name":       "小区不准遛狗",
                                "position":   "由于各种原因，请各位业主不要再小区里遛狗，谨防咬到他人",
                                "salary":     "2015/4/20",
                                "start_date": "蜡笔小新",

                                "extn":       "665421"
                            },
                            {
                                "name":       "小区不准遛狗",
                                "position":   "由于各种原因，请各位业主不要再小区里遛狗，谨防咬到他人",
                                "salary":     "2015/4/20",
                                "start_date": "叮当猫",

                                "extn": "8422"
                            },
                        ]
                    });
                    $("#abutton").click(onaclick);
                });
                function onaclick(){
                    $(".row-cbx:checked").each(function(i,e){
                        alert($(e).data("row"));
                    });
                }
            </script>