<div class="row">
	<div class="col-lg-12">
		<a id="beback" href="#">返回</a>
		<h1 class="page-header">管理员管理</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div id="" class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">查询</a></li>
    <li role="presentation"><a id="bindhousehold" href="#profile" aria-controls="profile" role="tab" data-toggle="tab">添加管理员</a></li>
    <!--<li role="presentation"><a id="bindhousehold" href="#profile" aria-controls="profile" role="tab" data-toggle="tab">添加用户</a></li>-->
  </ul>
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">

				<!-- /.table-responsive -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="queryTab">
						
						<!--<button type="button" id="addusermodal" style="margin-bottom: 15px;" class="btn btn-default" data-toggle="modal" data-target="#myModal">添加用户</button>-->
						
						<div class="tab-content">
						    <div role="tabpanel" class="tab-pane active" id="home">
						    	<div class="bs-example" data-example-id="bordered-table">
							<table class="table table-bordered">
								<thead>
									<tr>

									</tr>
								</thead>
								<tbody id="querybody">
									<tr>
										<td>
											<input type="text" id="userLoginName" class="form-control" placeholder="登录名" aria-describedby="sizing-addon1" />
										</td>
										<td>
											<input type="text" id="userTel" class="form-control" placeholder="电话" aria-describedby="sizing-addon1" />
										</td>
										<td style="text-align: center;">
											<input id="userbtn" type="button" class="btn btn-default" value="查询" />
										</td>
										<!--td><input type="text" id="dpe" class="form-control"placeholder="最后登陆时间" aria-describedby="sizing-addon1" data-date-format="mm/dd/yy"/></td-->
									</tr>

								</tbody>
								<!-- Button trigger modal -->
							</table>
						</div>
						    	<!--<div class="panel panel-default">-->
							<!--<div class="panel-heading">列表</div>-->
							<!--<div class="panel-body">-->
								<!--<div class="dataTable_wrapper">-->
									<table class="table table-striped table-bordered table-hover" id="dataTables-example">
										<thead>
											<tr>
												<th>选择</th>
												<th class="hide">编号</th>
												<th>电话</th>
												<th>登录名</th>
												<th>电子邮箱</th>
												<th>所属角色</th>
												<th>操作</th>
											</tr>
										</thead>
										<tbody>

										</tbody>

									</table>
									<!--分页-->
									<div class="paginateBox">
										<ul class="pagination" id="userPage">
										</ul>
									</div>
									<div id="checkAllBox">
										<input id="ucheckBox" type="checkbox">全选
										<input type="button" class="btn btn-default" id="checkAllBtn" value="删除所选" />
									</div>
								<!--</div>-->
								<!-- /.table-responsive -->
							<!--</div>-->

							<!-- Modal -->
							<div class="modal fade" id="userRoleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content" id="useRoleContent">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
											</button>
											<h4 class="modal-title" id="myModalLabel">修改管理员角色</h4>
										</div>
										<div class="modal-body">
											<div class="panel-body">
												<div class="dataTable_wrapper">
													<table class="table table-striped table-bordered table-hover" id="userRoleBox">
														<thead>
															<tr>
																<th>角色编号</th>
																<th>角色</th>
																<th>选项</th>

															</tr>
														</thead>
														<tbody>

														</tbody>

													</table>
													<div class="paginateBox">
														<ul class="pagination" id="rolePage">
														</ul>
													</div>
												</div>
												<!-- /.table-responsive -->
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
											<button type="button" id="saveUserRole" class="btn btn-primary">保存</button>
										</div>
										<input type="hidden" id="roleIdInput" />
									</div>
								</div>
							</div>

							<!-- /.panel-body -->
						<!--</div>-->
						    </div>
						    
						    <div role="tabpanel" class="tab-pane" id="profile">
						    	<div style="width: 50%;height:100px;margin: 0 auto;">
								<form class="formular" id="adduser">
									<div class="col-sm-6 form-group">
										<label class="control-label">登录名：</label>
										<input type="text" id="addLoginName" class="form-control validate[required,custom[onlyLetterNumber],minSize[6],maxSize[20]] text-input" placeholder="登录名" aria-describedby="sizing-addon1" />
									</div>
									<div class="form-group col-sm-6">
										<label class="control-label">密码：</label>
									    <input type="password" id="addpwd" class="form-control validate[required] text-input" placeholder="密码" aria-describedby="sizing-addon1" />
									</div>
									<div class="col-sm-6 form-group" >
										<label class="control-label">电话：</label>
									    <input type="text" id="addTel" class="form-control validate[required,custom[phone]] text-input"  placeholder="电话" aria-describedby="sizing-addon1" />
									</div>																		
									<div class="form-group col-sm-6">
										<label class="control-label">电子邮件：</label>
									    <input type="text" id="addEmail" class="form-control validate[required,custom[email]] text-input" placeholder="电子邮件" aria-describedby="sizing-addon1" />
										
									</div>
									<div class="form-group col-sm-6">
										<label class="control-label">备注：</label>
									    <input type="text" id="addRemark" class="form-control" placeholder="备注" aria-describedby="sizing-addon1" />
									</div>
									<button type="button" style="  float: right; margin-right: 15px;" id="addUserBtn" class="btn btn-primary">添加</button>
								</form>
								</div>
						    </div>
					    </div>
						
						
					</div>

					

					<div class="modal fade" id="queryCellModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
									</button>
									<h4 class="modal-title" id="myModalLabel">管理员所辖小区</h4>
								</div>
								<input type="hidden" id="uid" />
								<div class="modal-body">
									<table id="queryAdminTable" class="table table-striped table-bordered table-hover table-condensed">

									</table>

								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
									<button id="updateAdminCom" type="button" class="btn btn-default">保存</button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->

			<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
	</div>