
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">缴费历史查询</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        历史缴费列表
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <!--<div class="col-lg-5"></div>-->
                        	<div class="col-lg-2">
		                    	<div class="input-append date">
		                    		<input size="14" type="text" value="" placeholder="开始时间" style="cursor: pointer;" class="form-control dp">
		    					</div>
		                    </div>
		                    <div class="col-lg-2">
		                    	<div class="input-append date">
		                    		<input size="14" type="text" value="" placeholder="结束时间" style="cursor: pointer;" class="form-control dpe">
		    					</div>
							</div>
                        <div class="col-lg-2">
                        	<input type="button" id="paymentHistoryBtn" class="btn btn-default"  value="查询" />
                        </div>

                        <div class="dataTable_wrapper">
                            <table class="table table-striped table-bordered table-hover" id="orderTable">
                                <thead>
                                <tr>
                                    <th>用户</th>
                                    <th>金额</th>
                                    <th>日期</th>
                                    <th>订单ID</th>
                                    <th>支付时间</th>
                                    <th>状态</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                            <div class="paginateBox">
								<ul class="pagination">
								</ul>
							</div>
                        </div>
                        <!-- /.table-responsive -->

                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>