<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">历史公告</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-12">

		<div class="panel panel-default">
			<div class="panel-heading">
				公告列表
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="dataTable_wrapper">
					<table class="table table-striped table-bordered table-hover" id="noticeTable">
						<thead>
							<tr>
								<th>title</th>
								<th>createTime</th>
								<th>dept</th>
								<th>id</th>
							</tr>
						</thead>
					</table>
					<div class="paginateBox">
						<ul class="pagination">
						</ul>
					</div>
				</div>
				<!-- /.table-responsive -->

			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
</div>