<div class="row">
	<div class="col-lg-12">
		<a id="beback" href="#">返回</a>
		<h1 class="page-header">查询新闻公告</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-12">

		<div class="panel panel-default">
			<div class="panel-heading">
				查询新闻
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="home">
						<div class="bs-example" data-example-id="bordered-table">

							<table class="table table-bordered">
								<thead>
									<tr>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<select id="type" class="form-control" name="dept">
												<option value="article">新闻</option>
												<option value="notice">紧急通知</option>
											</select>
										</td>
										<!--<td>
											<input type="text" id="loginName" class="form-control" placeholder="登录名" aria-describedby="sizing-addon1" />
										</td>-->
										<td>
											<input type="text" id="title" class="form-control" placeholder="资讯标题" aria-describedby="sizing-addon1" />
										</td>
										<td style="text-align: center;">
											<input id="infroBtn" type="button" class="btn btn-default" value="查询" />
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!--<div class="panel panel-default">-->
							<!--<div class="panel-heading">新闻列表</div>-->
							<!--<div class="panel-body">-->
								<!--<div class="dataTable_wrapper">style="min-width: 938px;overflow: hidden;"-->
									<table  class="table table-striped table-bordered table-hover" id="infroTable">
										<thead>
											<tr>
												<th>选择</th>
												<th>创建时间</th>
												<th>级别</th>
												<th>标题</th>
												<th class="hide">类型</th>
												<th class="hide">责任编辑</th>
												<!--<th>作者</th>
												<th>来源</th>-->
												<th class="hide">小区</th>
												<th class="hide">摘要</th>
												<th class="hide">栏目</th>
												<th>状态</th>
												<th>操作</th>
											</tr>
										</thead>
										<tbody>

										</tbody>
									</table>
									<div class="paginateBox">
										<ul class="pagination">
										</ul>
									</div>
									<div id="checkAllBox">
										<input id="newscheckBox" type="checkbox">全选
										<input type="button" class="btn btn-default" id="delAllBtn" value="删除所选" />
									</div>
								<!--</div>-->
								<!-- /.table-responsive -->
							<!--</div>-->
							<!-- /.panel-body -->
						<!--</div>-->

						<!-- Modal -->
						<div class="modal fade" id="newslistModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<form class="hzhform form-horizontal" data-event="0x03010305" data-bs="hzh.pages.js.listnews.processForm" data-request="newslist" data-cb="hzh.pages.js.listnews.processResponse">
																						
											<div class="col-lg-6">
												<label class="control-label" for="title">标题</label>
												<input type="text" class="form-control" name="title" id="titleInput" placeholder="文章标题">
											</div>
											<div class="col-lg-6">
												<label class="control-label" for="summary">摘要</label>
												<input type="text" class="form-control" name="summary" id="summary" placeholder="文章摘要">
											</div>
											<div class="col-lg-6">
												<label class="control-label" for="executiveEditor">责任编辑</label>
												<input type="text" name="executiveEditor" id="executiveEditor" class="form-control" placeholder="责任编辑">
											</div>
											<div class="col-lg-6">
												<label class="control-label" for="source"">来源</label>
												<input type="text" class="form-control" id="source" name="source" placeholder="来源">
											</div>
											<div class="col-lg-6">
												<label class="control-label" for="createAuthor">记者</label>
												<input type="text" class="form-control" id="createAuthor" name="createAuthor" placeholder="记者">
											</div>
											<div class="col-lg-6">
												<label class="control-label" for="deptSelect">级别</label>
												<select class="form-control" id="deptSelect" name="dept">
													<option value="article">新闻</option>
													<option value="notice">紧急通知</option>
												</select>
											</div>
											<input type="hidden" class="type" name="type">
											<!--<div class="col-lg-6">
												<label class="control-label" for="type">类型</label>
												<select class="form-control" class="type" name="type">
													<option value="I">图集</option>
													<option value="T">图文</option>
													<option value="V">视频</option>
												</select>
											</div>-->
											<div class="col-lg-6" style="margin-bottom: 10px;">
												<label class="control-label" for="sectionSelect">栏目</label>
												<select class="form-control" id="sectionSelect" name="sectionId" style="width: 255px;">
												</select>
											</div>
											<!--<div class="col-lg-6" style="margin-bottom: 10px;" id="communitydiv">
												<label class="control-label" for="communitySelect">发布到
													<input type="checkbox" id="selectAll" />
												</label>
												<select id="communitySelect" class="form-control"  name="scopeId" style="width: 255px;margin-bottom: 10px;" data-options="multiple:true,multiline:true" >
											
												</select>
												
											   <div id="communitySelect"></div>
											</div>-->
											<input type="hidden" name="scopeId" id="communityId" />
											<input type="hidden" name="id" id="idInput">
											<div class="form-group">
												<textarea id="contentSelect" name="content" class="form-control" ></textarea>
											</div>
											<input type="hidden" name="description" id="description" />
											<div class="form-group">
												<button type="submit" class="btn btn-primary">保存</button>
												<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
			<!-- /.panel-body -->
		</div>

		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->