<div class="row">
	<div class="col-lg-12">
		<!--<a id="beback" href="#">返回</a>-->
		<h1 class="page-header">故障报修</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div id="" class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">故障报修
				<!--<ul class="nav nav-tabs" role="tablist">
				    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">查询用户</a></li>
				    <li role="presentation"><a id="bindhousehold" href="#profile" aria-controls="profile" role="tab" data-toggle="tab">添加用户</a></li>
				</ul>-->
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">

				<!-- /.table-responsive -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="queryTab">

						<!--<button type="button" id="addusermodal" style="margin-bottom: 15px;" class="btn btn-default" data-toggle="modal" data-target="#myModal">添加用户</button>-->

						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="home">
								<div class="bs-example" data-example-id="bordered-table">
									<table class="table table-bordered">
										<thead>
											<tr>
											</tr>
										</thead>
										<tbody id="querybody">
											<!--<tr>
												<td>
													<input type="text" id="buildingNum" class="form-control" placeholder="楼宇号" aria-describedby="sizing-addon1" />
												</td>
												<td style="text-align: center;">
													<input id="queryBuildBtn" type="button" class="btn btn-default" value="查询" />
												</td>
												td><input type="text" id="dpe" class="form-control"placeholder="最后登陆时间" aria-describedby="sizing-addon1" data-date-format="mm/dd/yy"/></td
											</tr>-->

										</tbody>
										<!-- Button trigger modal -->
									</table>
								</div>
								<!--<button type="button" style="margin-bottom: 15px;" id="addBuildBtn" class="btn btn-default" data-toggle="modal" data-target="#addlobbyMachineModal">添加</button>-->
								<!--<div class="panel panel-default">-->
									<!--<div class="panel-heading">故障报修列表</div>-->
									<!--<div class="panel-body">-->
										<div class="dataTable_wrapper">
											<table class="table table-striped table-bordered table-hover" id="repairTable" width="100%">
												<thead>
													<tr>
														<th>ID</th>
														<th>户主</th>
														<th>报修时间</th>
														<th>联系电话</th>
														<th>地址</th>
														<th>预约时间</th>
														<th>状态</th>
														<th class="hide">备注</th>
														<th>操作</th>
													</tr>
												</thead>
												<tbody>

												</tbody>

											</table>
											<!--分页-->
											<div class="paginateBox">
												<ul class="pagination" id="malPage">
												</ul>
											</div>
											<div id="checkAllBox">
												<input id="checkBox" type="checkbox">全选
												<input type="button" class="btn btn-default" id="delAllBtn" value="删除所选" />
											</div>
										</div>
										<!-- /.table-responsive -->
									<!--</div>-->
									<!-- /.panel-body -->
								<!--</div>-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
<!--<div class="modal fade" id="addlobbyMachineModal" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">添加大堂机</h4>
      </div>
      <div class="modal-body">
      	<form class="hzhform formular" data-event="0x03070109" data-request="addLobbyMachine" data-bs="hzh.pages.js.lobbyMachine.processForm" data-cb="hzh.pages.js.lobbyMachine.processResponse">
			<div style="margin-top: 20px;" class="col-lg-6 form-group">
				<label class="control-label">登录名：</label>
				<input type="text" name="loginName" class="form-control validate[required] text-input" placeholder="登录名" aria-describedby="sizing-addon1" />
				
			</div>
			<div style="margin-top: 20px;" class="col-lg-6 form-group">
				<label class="control-label">密码：</label>
				<input type="password" name="pwd" class="form-control validate[required] text-input" placeholder="密码" aria-describedby="sizing-addon1" />
			</div>
			<div class="col-lg-6 form-group">
				<label class="control-label">对应楼宇：</label>
				<input type="text" name="buildingId" style="width: 255px; height: 34px;" id="addBuildNum" class="form-control" placeholder="对应楼宇" aria-describedby="sizing-addon1" />
				<div id="machineTb" style="padding:5px;height:auto;">
					<input id="mBuildNum" type="text" placeholder="请输入楼宇号">
					<a href="#" id="mSearchBtn" class="easyui-linkbutton" iconCls="icon-search">搜索</a>
				</div>	
			</div>
			<div class="col-lg-6 form-group">
				<label class="control-label">硬件号：</label>
				<input type="text" validate="email" name="email" class="form-control validate[required] text-input" placeholder="硬件号" aria-describedby="sizing-addon1" />
			</div>
			<div class="footModal">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="submit" class="btn btn-default">提交</button>
			</div>
		</form>
      </div>
    </div>
  </div>
</div>-->
