<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">菜单列表</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>

<div class="row">
	<div class="col-lg-12">

		<div class="panel panel-default">
			<div class="panel-heading">
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">查询菜单</a>
					</li>
					<!--<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">添加菜单</a>-->
					</li>
				</ul>

			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="home">
						<div class="bs-example" data-example-id="bordered-table">
							<table class="table table-bordered">
								<thead>
									<tr>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<input type="text" id="menuname" class="form-control" placeholder="菜单项名称" aria-describedby="sizing-addon1" />
										</td>
										<td></td>
										<td>
											<input id="menuListBtn" type="button" class="btn btn-default" value="查询" />
										</td>
										<td></td>

										<td>
											<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">添加</button>
										</td>

									</tr>
								</tbody>
							</table>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">菜单列表</div>
							<div class="panel-body">
								<div class="dataTable_wrapper">
									<table class="table table-striped table-bordered table-hover" id="menuListTable">
										<thead>
											<tr>
												<th>菜单项ID</th>
												<th>菜单项名称</th>
												<th>菜单项图标</th>
												<th>菜单项跳转地址</th>
												<th>父ID</th>
												<th>操作</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
									<div class="paginateBox">

										<ul class="pagination">
										</ul>
									</div>

								</div>
								<!-- /.table-responsive -->
							</div>
							<!-- /.panel-body -->
						</div>
					</div <!-- Button trigger modal -->

					<!-- Modal -->
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
									</button>
									<h4 class="modal-title" id="myModalLabel">添加菜单列表</h4>
								</div>
								<div class="modal-body">
									<form class="hzhform" name="upApk" id="upApk" data-event="0x03010107" data-request="ADD_HOUSEHOLD_MULTI" data-bs="hzh.pages.js.menuConf.processForm" data-cb="hzh.pages.js.menuConf.processResponse">
										<div class="col-lg-6">
											<div class="form-group">
												<label>菜单项名称</label>
												<input type="text" name="name" class="form-control" placeholder="菜单项名称" aria-describedby="sizing-addon1" />
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												<label>菜单对应图标</label>
												<input type="type" name="icon" class="form-control" placeholder="菜单对应图标" aria-describedby="sizing-addon1" />
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												<label>菜单跳转页面地址</label>
												<input type="text" name="url" class="form-control" placeholder="菜单跳转页面地址" aria-describedby="sizing-addon1" />
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												<label>备注</label>
												<input type="text" name="remark" class="form-control" placeholder="备注" aria-describedby="sizing-addon1" />
											</div>
										</div>
										<div class="modal-footer">
											<button type="submit" class="btn btn-default">提交</button>
											<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
										</div>
									</form>
								</div>

							</div>
						</div>
					</div>

					<!--<div role="tabpanel" class="tab-pane" id="profile">

					</div>-->

					<!-- Modal -->
					<div class="modal fade" id="updateMenuModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
									</button>
									<h4 class="modal-title" id="myModalLabel">修改列表</h4>
								</div>
								<div class="modal-body">
									<div class="panel-body">
										<div class="dataTable_wrapper">
											<table class="table table-striped table-bordered table-hover" id="updatemenuTable">
												<thead>
													<tr>

													</tr>
												</thead>
												<div class="col-lg-6">
													<div class="form-group">
														<label>菜单项名称</label>
														<input type="text" id="name" class="form-control" placeholder="菜单项名称" aria-describedby="sizing-addon1" />
													</div>
												</div>
												<div class="col-lg-6">
													<div class="form-group">
														<label>菜单对应图标</label>
														<input type="type" id="icon" class="form-control" placeholder="菜单对应图标" aria-describedby="sizing-addon1" />
													</div>
												</div>
												<div class="col-lg-6">
													<div class="form-group">
														<label>菜单跳转页面地址</label>
														<input type="text" id="url" class="form-control" placeholder="菜单跳转页面地址" aria-describedby="sizing-addon1" />
													</div>
												</div>
												<div class="col-lg-6">
													<div class="form-group">
														<label>备注</label>
														<input type="text" id="remark" class="form-control" placeholder="备注" aria-describedby="sizing-addon1" />
													</div>
												</div>
												<tbody>
												</tbody>
											</table>
										</div>
										<div class="modal-footer">
									    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
									    <button id="saveMenuBtn" type="button" class="btn btn-default">保存</button>
								</div>
										<!-- /.table-responsive -->
									</div>
								</div>
								
							</div>
						</div>
					</div>
					
					<div class="modal fade" id="queryResourceMenu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
									</button>
									<h4 class="modal-title" id="myModalLabel">菜单权限列表</h4>
								</div>
								<div class="modal-body">
									<div class="panel-body">
										<div class="dataTable_wrapper">
											<table class="table table-striped table-bordered table-hover" id="resourceMenuTable">
												<thead>
													<tr>
														<td>权限项id</td>
														<td>权限项名称</td>
														<td>操作</td>
													</tr>
												</thead>
												<tbody>
													
												</tbody>
											</table>
										</div>
										<div class="modal-footer">
									    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
									    <button id="saveResourceMenu" type="button" class="btn btn-default">保存</button>
								</div>
										<!-- /.table-responsive -->
									</div>
								</div>
								
							</div>
						</div>
					</div>

				</div>

			</div>
			<!-- /.panel-body -->
		</div>

		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>