<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">查询新闻公告</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-12">

		<div class="panel panel-default">
			<div class="panel-heading">
				查询新闻
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="home">
						<!--<div class="bs-example" data-example-id="bordered-table">

							<table class="table table-bordered">
								<thead>
									<tr>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<select id="type" class="form-control" name="dept">
												<option value="article">新闻</option>
												<option value="notice">紧急通知</option>
											</select>
										</td>
										<td>
											<input type="text" id="title" class="form-control" placeholder="资讯标题" aria-describedby="sizing-addon1" />
										</td>
										<td style="text-align: center;">
											<input id="infroBtn" type="button" class="btn btn-default" value="查询" />
										</td>
									</tr>
								</tbody>
							</table>
						</div>-->
						<button type="button" id="adAddBtn" style="margin-bottom: 15px;" class="btn btn-default" data-toggle="modal" data-target="#addSectionModal">
							添加栏目
						</button>
						<div class="panel panel-default">
							<div class="panel-heading">新闻列表</div>
							<div class="panel-body">

								<div class="dataTable_wrapper">
									<table class="table table-striped table-bordered table-hover" id="infroTable">
										<thead>
											<tr>
												<th>选择</th>
												<th>栏目名称</th>
												<th>创建时间</th>
												<th>操作</th>
											</tr>
										</thead>
										<tbody>

										</tbody>
									</table>
									<div class="paginateBox">

										<ul class="pagination">
										</ul>
									</div>
									<div id="checkAllBox">
										<input id="sectioncheckBox" type="checkbox">全选
										<input type="button" class="btn btn-default" id="delAllBtn" value="删除所选" />
									</div>
								</div>
								<!-- /.table-responsive -->
							</div>
							<!-- /.panel-body -->
						</div>

						<!-- Modal -->
						<div class="modal fade" id="addSectionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
										</button>
										<h4 class="modal-title" id="myModalLabel">添加栏目</h4>
									</div>
									<div class="modal-body">
										<form class="hzhform form-horizontal" data-event="0x03060007" data-bs="hzh.pages.js.newsSection.processForm" data-request="addSection" data-cb="hzh.pages.js.newsSection.processResponse">
												<div class="form-group col-sm-6">
													<label class="control-label">栏目名称：</label>
												    <input type="text" name="name" class="form-control" placeholder="栏目名称" aria-describedby="sizing-addon1" />
												</div>
											<div class="form-group">
												<button type="submit" style="margin-top: 27px;margin-left: 30px;" class="btn btn-default">提交</button>
												<button type="button" style="margin-top: 27px;" class="btn btn-default" data-dismiss="modal">关闭</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>

						<div class="modal fade" id="newsContentModal" tabindex="-1" role="dialog" aria-labelledby="newsTitleModal">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title" id="newsTitleModal"></h4>
									</div>
									<div id="newsBodyModal" class="modal-body">
										
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
										<!--<button type="button" class="btn btn-primary">Save changes</button>-->
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>

			</div>
			<!-- /.panel-body -->
		</div>

		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->