<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">意见信息列表</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>

<div class="row">
	<div class="col-lg-12">

		<div class="panel panel-default">
			<div class="panel-heading">意见与反馈</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="home">
						<div class="bs-example" data-example-id="bordered-table">
							<table class="table table-bordered">
								<thead>
									<tr>
									</tr>
								</thead>
								<tbody>
									<!--<tr>
											<input id="appListBtn" type="button" class="btn btn-default" value="查询" />
									</tr>-->
								</tbody>
							</table>
						</div>

						<!-- Button trigger modal -->
						<!--<button type="button" style="margin-bottom: 20px;" class="btn btn-default" data-toggle="modal" data-target="#myModal">添加小区信息</button>-->

						<div class="panel panel-default">
							<div class="panel-heading">意见查看</div>
							<div class="panel-body">

								<div class="dataTable_wrapper">
									<table class="table table-striped table-bordered table-hover" id="opinionListTable">
										<thead>
											<tr>
												<th class="hide">ID</th>
												<th>创建人</th>
												<th>户主</th>
												<th>创建时间</th>
												<th class="hide">内容</th>
												<th>内容</th>
												<th>更新时间</th>
												<th>操作</th>
											</tr>
										</thead>
										<tbody>

										</tbody>
									</table>
									<div class="paginateBox">
										<ul class="pagination" id="opinionPage">
										</ul>
									</div>
									<!--<div id="checkAllBox">
										<input id="comcheckBox" type="checkbox">全选
										<input type="button" class="btn btn-default" id="delAllcomBtn" value="删除所选" />
									</div>-->
								</div>
								<!-- /.table-responsive -->
							</div>
							<!-- /.panel-body -->
						</div>
					</div>
				</div>

			</div>
			<!-- /.panel-body -->
		</div>

		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">评论列表</h4>
      </div>
      <div class="modal-body">
      	<form class="hzhform formular" data-event="0x03030108" data-request="replyFeedback" data-bs="hzh.pages.js.opinion.processForm" data-cb="hzh.pages.js.opinion.processResponse">
			<input type="hidden" id="opinionId"/>
			<div id="replay"></div>
			<textarea name="content" style="width: 100%;height: 100px;border-radius: 4px;" placeholder="回复内容..."></textarea>
			<div style="text-align: right;">
				<button type="submit" class="btn btn-default">发送</button>
			</div>
		</form>
		
      </div>
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="submit" class="btn btn-primary">发送</button>
      </div>-->
    </div>
  </div>
</div>

