<div class="row">
	<div class="col-lg-12">
		<a id="beback" href="#">返回</a>
		<h1 class="page-header">订单信息</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">订单列表</div>
			<div class="panel-body">
				<!--<div class="tab-content">-->
					<!--<div role="tabpanel" class="tab-pane active" id="home">-->
						<!--<div class="bs-example" data-example-id="bordered-table">
							<table class="table table-bordered">
								<thead>
									<tr>
									</tr>
								</thead>
								<tbody>
									<tr>
											<input id="appListBtn" type="button" class="btn btn-default" value="查询" />
									</tr>
								</tbody>
							</table>
						</div>-->

						<!--<div class="panel panel-default">
							<div class="panel-heading">订单列表</div>
							<div class="panel-body">-->
								<div class="dataTable_wrapper">
									<input type="text" size="30" id="searchOrderVal" placeholder="订单号" style="padding-left: 10px;margin-top: 1px;" />
									<input type="button"  class="searchBtn" id="searchOrderBtn" value="订单搜索" />
									<a id="moreCondition">高级搜索</a>
									<!--<span class="fa arrow"></span>-->
									<div id="searchMore">
										<div class="orderInput">
											<span>订单类型：</span>
											<select id="type">
												<option value="">--选择--</option>
												<option value="utilities">水电气费</option>
												<option value="digital">其他费用</option>
												<!--<option value="property">物业费</option>
												<option value="dodopal">公交卡</option>-->
											</select>
										</div>
										<div class="orderInput">
											<span>订单号码：</span>
											<input type="text" id="orderNum" />
										</div>
										<div class="orderInput">
											<span>用户名：</span>
											<input type="text" id="userName"  />
										</div>
										<!--<div class="orderInput">
											<span>小区房号：</span>
											<input type="text" id="roomNum" />
										</div>-->
										<div class="orderInput">
											<span>订单状态：</span>
											<select id="orderState">
												<option value="">--选择--</option>
												<option value="1">支付平台扣款成功</option>
												<option value="2">订单创建，正在支付</option>
												<option value="3">客户端收到支付宝已扣款</option>
												<option value="4">缴费成功</option>
												<option value="5">订单取消</option>
												<option value="6">订单删除</option>
											</select>
										</div>
										<div class="paytime">
											<span>缴费时间：</span>
											<div id="startDate" style="display: inline-block;">
												<input  type="text" class="startDate"  style="width: 174px;height: 26px;border-radius: 0;" />
											</div>
											<span>到</span>
											<div id="endDate" style="display: inline-block;">
												<input  type="text" class="endDate" style="width: 174px;height: 26px;border-radius: 0;" />
											</div>
										</div>
										
										<input type="button" class="searchBtn" id="searchMoreBtn" value="搜索"/>
									</div>
									<table class="table table-striped table-bordered table-hover" id="orderListTable">
										
										<thead>
											<tr>
												<th>订单号</th>
												<th>费用名称</th>
												<th>户主</th>
												<th class="hide">缴费人</th>
												<th>总金额</th>
												<th class="hide">支付方式</th>
												<th>支付时间</th>
												<th>缴费状态</th>
												<th>操作</th>
											</tr>
										</thead>
										<tbody>

										</tbody>
									</table>
									<div class="paginateBox">

										<ul class="pagination" id="orderPage">
										</ul>
									</div>
									<!--<div id="checkAllBox">
										<input id="ordercheckBox" type="checkbox">全选
										<input type="button" class="btn btn-default" id="delAllappBtn" value="删除所选" />
									</div>-->
								<!--</div>-->
							<!--</div>-->
						</div>
					 	
					 	<div class="modal fade" id="queryOrderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        <h4 class="modal-title" id="myModalLabel">订单详情</h4>
						      </div>
						      <div class="modal-body">
						      	<table class="table table-striped table-bordered table-hover" id="orderDetailTable">
									<thead>
										<tr>
											<th class="hide">id</th>
											<th>费用名称</th>
											<th>欠费日期</th>
											<th>缴费时间</th>
											<th>缴费合计</th>
											<th>内置项</th>
										</tr>
									</thead>
									<tbody>
	
									</tbody>
								</table>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						        <!--<button type="button" class="btn btn-primary">保存</button>-->
						      </div>
						    </div>
						  </div>
						</div>
						
						<!--<div class="modal fade" id="updateOrderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        <h4 class="modal-title" id="myModalLabel">修改订单</h4>
						      </div>
						      <div class="modal-body">
						      	个好地方噶的风格
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						        <button type="button" class="btn btn-primary">保存</button>
						      </div>
						    </div>
						  </div>
						</div>	-->
					<!--</div>-->
				<!--</div>-->
			</div>
		</div>
	</div>
</div>