<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">费用查询</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                DataTables Advanced Tables
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="col-lg-3"></div>
                <div class="col-lg-2"></div>
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                        <tr>
                            <th>选择</th>
                            <th>资讯编号</th>
                            <th>资讯标题</th>
                            <th>资讯创建时间</th>
                            <th>资讯创建人</th>
                            <th>资讯所属栏目</th>
                            <th>资讯类别</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>

                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<script>
    $(document).ready(function () {
        var table = $('#dataTables-example').DataTable({
            responsive: true,
            "oLanguage": {
                "sLengthMenu": "每页显示 _MENU_ 条记录",
                "sZeroRecords": "抱歉， 没有找到",
                "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                "sInfoEmpty": "没有数据",
                "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "前一页",
                    "sNext": "后一页",
                    "sLast": "尾页"
                },
                "sZeroRecords": "没有检索到数据",
                "sProcessing": "<img src='./loading.gif' />",
                "sSearch": "搜索"
            },
            columns: [
                {
                    data: "id",
                    render: function (data, type, row) {
                        if (type === 'display') {
                            return '<input type="checkbox" class="editor-active row-cbx" data-row="' + data + '">';
                        }
                        return data;
                    },
                    className: "dt-body-center"
                },
                {data: "id"},
                {data: "title"},
                {data: "createTime"}
                //                { data: "createAuthor" },
                //                { data: "sectionName" },
                //                { data: "type" }
            ]
        });


        $("#abutton").click(onaclick);

        //        alert("dfafwefwefewf");
    });

    hzh.api.request(0x03010304, "queryinformationSet", {data: ""}, function (zixun) {
        if (zixun.response.code == 200) {
            var information = new Array();
            var ann = zixun.response.data.announcement
            var art = zixun.response.data.article
            var not = zixun.response.data.notice

            for (var i = 0; i < ann.length; i++) {
                information.push(ann[i]);
            }
            for (var i = 0; i < art.length; i++) {
                information.push(art[i]);
            }
            for (var i = 0; i < not.length; i++) {
                information.push(not[i]);
            }

            RefreshTable("#dataTables-example",
                    information
            );
        }

    });
    function onaclick() {

        //        $(".row-cbx:checked").each(function(i,e){
        //            alert($(e).data("row"));
        //        });
    }
    function RefreshTable(tableId, data) {

        table = $(tableId).dataTable();
        oSettings = table.fnSettings();

        table.fnClearTable(this);

        for (var i = 0; i < data.length; i++) {
            table.oApi._fnAddData(oSettings, data[i]);
        }

        oSettings.aiDisplay = oSettings.aiDisplayMaster.slice();
        table.fnDraw();

    }

</script>