<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">便捷缴费</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-12">

		<div class="panel panel-default">
			<div class="panel-heading">
				缴费列表
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="col-lg-3">
					选择缴费项
					<select class="form-control input-sm" id="choosePayment">
						<option name="sy">所有费用</option>
						<option name="water">水费</option>
						<option name="electricity">电费</option>
						<option name="gas">气费</option>
					</select>
				</div>
				<button type="button" data-loading-text="请稍候" autocomplete="off" class="btn btn-primary toPay">缴费</button>
				<table id="jfTable" class="table table-striped table-bordered table-hover table-condensed">
					<thead>
						<tr>
							<th>日期</th>
							<th>欠费</th>
							<th>ID</th>
							<th>选择</th>
						</tr>
						<tbody>
						</tbody>
				</table>
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>