<div class="modal fade" id="roleModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">权限列表</h4>
			</div>
			<div class="modal-body">
				<table id="resourceTable" class="table table-striped table-bordered table-hover table-condensed">
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" id="saveModal" class="btn btn-primary">保存</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="row">
	<div class="col-lg-12">
		<a id="beback" href="#">返回</a>
		<h1 class="page-header">角色管理</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row roleContainer">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				角色列表
			</div>
			<div class="panel-body">
				<div class="panel-body" id="roleList">
					<div class="dataTable_wrapper">
						<div class="row">

							<div class="col-sm-6">
								<div>
									<label class="form-inline">
										<input type="search" class="form-control search-box" placeholder="请输入一个角色名" id="searchRoleInput">
										<input type="button" class="search-btn btn btn-default" id="searchRoleBtn" value="搜索" />
									</label>
								</div>
							</div>
							<div class="col-sm-6">
								<label class="form-inline">
									<input type="text" id="roleNameInput" placeholder="请输入一个角色名" class="form-control">
									<input type="button" id="addRole" class="btn btn-default" value="增加角色" />
								</label>
							</div>
						</div>
						<table class="table table-striped table-bordered table-hover table-condensed" id="rolebox">
							<thead>
								<tr>
									<th>选择</th>
									<th>角色ID</th>
									<th>角色名</th>
									<th>创建人</th>
									<th>创建时间</th>
									<!--<th>权限名</th>-->
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div class="row">
						<div class="paginateBox">
							<ul class="pagination" id="rolePage">
							</ul>
						</div>
						<div class="checkBoxAllBtn">
							<input type="checkbox" class="selectAll checkboxall">全选
							<input type="button" class="btn btn-default" id="delRole" value="删除所选" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>