<div class="modal fade" id="payModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">费用详情</h4>
			</div>
			<div class="modal-body">
				<table id="paymentDetailTable" class="table table-striped table-bordered table-hover table-condensed">
					<thead>
						<tr>
							<th>ID</th>
							<th>日期</th>
							<th>欠费</th>
						</tr>
					</thead>
					<tbody>

					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">生活缴费查询</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">缴费列表</a></li>
					<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">历史缴费列表</a></li>
				</ul>
			</div>
			<!-- /.panel-heading -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="home">
					<div class="panel-body">
						<div class="col-lg-3">
							<select class="form-control input-sm" id="paymentSelect">
								<option value="all" name="sy">所有费用</option>
								<option value="water" name="sf">水费</option>
								<option value="electricity" name="df">电费</option>
								<option value="gas" name="qf">气费</option>
							</select>
						</div>
						<div class="col-lg-2">
							<input class="btn btn-default" id="queryButton" type="submit" value="查询" />
							<!--<button type="button" class="btn btn-primary goToPay">缴费</button>-->
						</div>
						<div class="dataTable_wrapper">
							<table class="table table-striped table-bordered table-hover" id="paymentTable">
								<thead>
									<tr>
										<th>项目</th>
										<th>状态</th>
										<th>金额</th>
										<th></th>
									</tr>
								</thead>
								<tbody>

								</tbody>
							</table>

						</div>
						<!-- /.table-responsive -->
					</div>

				</div>

				<div role="tabpanel" class="tab-pane" id="profile">
					<div class="panel-body">
						<!--<div class="col-lg-5"></div>-->
						<div class="col-lg-2" style="margin-bottom: 15px;">
							<div class="input-append date">
								<label>开始时间：</label>
								<input type="text" class="dp" style="width:240px;height: 34px;margin-bottom: 15px;" >
								<!--<input size="14" type="text" value="" placeholder="开始时间" style="cursor: pointer;" class="form-control dp">-->
							</div>
						</div>
						<div class="col-lg-2">
							<div class="input-append date">
								<label>结束时间：</label>
								<input type="text" class="dpe" style="width:240px;height: 34px;margin-bottom: 15px;" >
								<!--<input size="14" type="text" value="" placeholder="结束时间" style="cursor: pointer;" class="form-control dpe">-->
							</div>
						</div>
						<div class="col-lg-2">
							<input type="button" id="paymentHistoryBtn" class="btn btn-default" value="查询" style="margin-top: 25px;" />
						</div>

						<div class="dataTable_wrapper">
							<table class="table table-striped table-bordered table-hover" id="orderTable">
								<thead>
									<tr>
										<th>用户</th>
										<th>金额</th>
										<th>日期</th>
										<th>订单ID</th>
										<th>支付时间</th>
										<th>状态</th>
									</tr>
								</thead>
								<tbody>

								</tbody>
							</table>
							<div class="paginateBox">
								<ul class="pagination">
								</ul>
							</div>
						</div>
						<!-- /.table-responsive -->

					</div>

				</div>

				<!--<div role="tabpanel" class="tab-pane" id="messages">...</div>
				<div role="tabpanel" class="tab-pane" id="settings">...</div>-->
			</div>

			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->