

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">修改住户信息</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            DataTables Advanced Tables
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
							<div class="bs-example" data-example-id="bordered-table">
								<table class="table table-bordered">
								  <thead>
									<tr>
									  <th>户主姓名</th>
									  <th>楼宇号</th>
									  <th>单元号</th>
									  <th>房间号</th>
									</tr>
								  </thead>
								  <tbody>
									<tr>
									  <th><input type="text" class="form-control"/></th>
									  <td><input type="text" class="form-control"/></td>
									  <td><input type="text" class="form-control"/></td>
									  <td><input type="text" class="form-control"/></td>
									</tr>
									<tr>
									  <th>户主电话</th>
									  <td>家庭人数</td>
									  <td>家庭成员</td>
									  <td>建筑面积</td>
									</tr>
									<tr>
									  <th><input type="text" class="form-control"/></th>
									  <td><input type="text" class="form-control"/></td>
									  <td><input type="text" class="form-control"/></td>
									  <td><input type="text" class="form-control"/></td>
									</tr>
									<tr>
									  <th>使用面积</th>
									  <td>公摊面积</td>
									  <td>备注</td>
									  <td></td>
									</tr>
									<tr>
									  <th><input type="text" class="form-control"/></th>
									  <td><input type="text" class="form-control"/></td>
									  <td><input type="text" class="form-control"/></td>
									  <td><input type="button" class="btn btn-default"  value="修改"/></td>
									</tr>
								  </tbody>
								</table>
							  </div>
                            <!-- /.table-responsive -->
                            
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
		</div>
            
