<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">附加费管理</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-12">

		<div class="panel panel-default">
			<div class="panel-heading">
				上传附加费表
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="col-lg-4">
					<form class="hzhform" name="demoForm" id="demoForm" data-event="0x03020311" data-request="ADD_HOUSEHOLD_MULTI" data-bs="hzh.pages.js.upSurcharge.processForm" data-cb="hzh.pages.js.upSurcharge.processResponse">
						<div class="form-group">
							<label for="upAddition">上传一个Excel文件</label>
							<input type="file" id="upAddition" accept=".xls,.xlsx">
							<!--<p class="help-block">Example block-level help text here.</p>-->
						</div>
						<button type="submit" class="btn btn-default">提交</button>
					</form>
				</div>
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
</div>