<div class="row">
	<div class="col-lg-12">
		<a id="beback" href="#">返回</a>
		<h1 class="page-header">版本列表</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>

<div class="row">
	<div class="col-lg-12">

		<div class="panel panel-default">
			<div class="panel-heading">查询版本
			</div>
			<div class="panel-body">
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="home">
						<div class="bs-example" data-example-id="bordered-table">
							<table class="table table-bordered">
								<thead>
									<tr>
									</tr>
								</thead>
								<tbody>
									<tr>
										
										<td>
											<input type="text" id="AppName" class="form-control" placeholder="软件名称" aria-describedby="sizing-addon1" />
										</td>
										<td>
											<input type="text" id="versionNum" class="form-control" placeholder="版本号" aria-describedby="sizing-addon1" />
										</td>
										<td >
											<!--<span>开始时间</span>-->
											<input type="text" id="releaseBegin" placeholder="开始时间,如：2015-10-20" class="time form-control">
										</td>
										<td >
											<!--<span>结束时间</span>-->
											<input type="text" id="releaseEnd" placeholder="结束时间,如：2015-11-20" class="time form-control">
										</td>
										<td style="text-align: center;">
											<input id="versionListBtn" type="button" class="btn btn-default" value="查询" />
										</td>
									</tr>
								</tbody>
							</table>
						</div>

						<!-- Button trigger modal -->
						<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">添加版本</button>

						<!--<div class="panel panel-default">-->
							<!--<div class="panel-heading">版本列表</div>-->
							<!--<div class="panel-body">-->

								<!--<div class="dataTable_wrapper">-->
									<table class="table table-striped table-bordered table-hover" id="versionListTable">
										<thead>
											<tr>
												<th class="hide">版本账户</th>
												<th>软件名称</th>
												<th>版本号</th>
												<th>发布时间</th>
												<th class="hide">大小</th>
												<th>开发商</th>
												<th class="hide">地址</th>
												<th>环境</th>
												<th class="hide">备注</th>
												<th>类型</th>
												<th>版本号</th>
												<th>强制更新</th>
											</tr>
										</thead>
										<tbody>

										</tbody>
									</table>
									<div class="paginateBox">

										<ul class="pagination">
										</ul>
									</div>

								<!--</div>-->
								<!-- /.table-responsive -->
							<!--</div>-->
							<!-- /.panel-body -->
						<!--</div>-->
					</div>

					<!-- Modal -->
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="myModalLabel">添加版本列表</h4>
								</div>
								<!--<div class="modal-body">-->
									<form class="hzhform formular" data-event="0x03020113" data-request="ADD_HOUSEHOLD_MULTI" data-bs="hzh.pages.js.versionList.processForm" data-cb="hzh.pages.js.versionList.processResponse">
										<div style="margin-top: 20px;" class="col-lg-6 form-group">
											<label class="control-label">软件名称：</label>
											<select class="form-control" id="appname" name="appId">
												
											</select>
											<!--<input type="text"  name="appName" class="form-control validate[required] text-input" placeholder="软件名称" aria-describedby="sizing-addon1" />-->
									
										</div>
										<div style="margin-top: 20px;" class="col-lg-6 form-group">
											<label class="control-label">版本号：</label>
											<input type="text" id="verNum" name="versionNum" class="form-control validate[required] text-input" placeholder="版本号" aria-describedby="sizing-addon1" />
											<!--</div>-->
										</div>
										<div class="col-lg-6 form-group">
											<label class="control-label">版本大小：</label>
											<input type="text" id="verSize" name="versionSize" class="form-control validate[required,custom[number]] text-input" placeholder="版本大小" aria-describedby="sizing-addon1" />
											<!--</div>-->
										</div>
										<div class="col-lg-6 form-group">
											<label class="control-label">开发商：</label>
											<input type="text" id="verDeveloper" name="developer" class="form-control validate[required] text-input" placeholder="开发商" aria-describedby="sizing-addon1" />
											<!--</div>-->
										</div>
										<div class="col-lg-6 form-group">
											<label class="control-label">下载地址：</label>
											<input type="text" id="verurl" name="url" class="form-control validate[required,custom[url]] text-input" placeholder="下载地址" aria-describedby="sizing-addon1" />
											<!--</div>-->
										</div>
										<div class="col-lg-6 form-group">
											<label class="control-label">运行环境：</label>
											<input type="text" id="verEnviroment" name="environment" class="form-control validate[required] text-input" placeholder="运行环境" aria-describedby="sizing-addon1" />
											<!--</div>-->
										</div>
										<div class="col-lg-6 form-group">
											<label class="control-label">备注：</label>
											<input type="text" id="verRemark" name="remark" class="form-control validate[required] text-input" placeholder="备注" aria-describedby="sizing-addon1" />
											<!--</div>-->
										</div>
										<div class="col-lg-6 form-group">
											<label class="control-label">版本类型：</label>
											<!--<label></label>-->
											<select id="type" class="form-control" name="type">
												<option value="alpha">alpha版本</option>
												<option value="beta">beta版本</option>
												<option value="rc">rc版本</option>
												<option value="stable">stable版本</option>
											</select>
											<!--<input type="text" id="verType" name="type" class="form-control" placeholder="版本类型" aria-describedby="sizing-addon1" />-->
											<!--</div>-->
										</div>
										
										<div class="col-lg-6 form-group">
											<label class="control-label">内部版本号：</label>
											<input type="text" id="versionCode" name="versionCode" class="form-control validate[required] text-input" placeholder="内部版本号" aria-describedby="sizing-addon1" />
											<!--</div>-->
										</div>
										<div class="col-lg-6 form-group">
											<label class="control-label">是否强制更新：</label>
											<select id="type" class="form-control" name="important">
												<option value="1">是</option>
												<option value="0">否</option>
											</select>
											<!--<input type="text" id="important" name="important" class="form-control" placeholder="是否强制更新" aria-describedby="sizing-addon1" />-->
											<!--</div>-->
										</div>
										<div class="col-lg-6 form-group">
											<!--<label class="control-label">App用途：</label>-->
											<label for="upAddition">上传一个apk文件</label>
											<input type="file" name="file0" id="upAddition">

											<!--</div>-->
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
											<button type="submit" class="btn btn-default">提交</button>
										</div>
									</form>
								<!--</div>-->
							</div>
						</div>
					</div>
				</div>

			</div>
			<!-- /.panel-body -->
		</div>

		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>