<div class="row">
	<div class="col-lg-12">
		<a id="beback" href="#">返回</a>
		<h1 class="page-header">访客信息列表</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>

<div class="row">
	<div class="col-lg-12">

		<div class="panel panel-default">
			<div class="panel-heading">查询访客</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="home">
						<div class="bs-example" data-example-id="bordered-table">
							<table class="table table-bordered">
								<thead>
									<tr>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<input type="text" id="guestName" class="form-control" placeholder="访客姓名" aria-describedby="sizing-addon1" />
										</td>
										<!--<td>
											<input type="text" id="communityName" class="form-control" placeholder="小区名称" aria-describedby="sizing-addon1" />
										</td>-->
										<td style="text-align: center;">
											<input id="queryVisitorBtn" type="button" class="btn btn-default" value="查询" />
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						
						<button type="button" id="addBuild" style="margin-bottom: 20px;" class="btn btn-default" data-toggle="modal" data-target="#myModal">添加访客</button>

						<!--<div class="panel panel-default">-->
							<!--<div class="panel-heading">访客列表</div>-->
							<!--<div class="panel-body">-->

								<div class="dataTable_wrapper">
									<table class="table table-striped table-bordered table-hover" id="visitorsListTable">
										<thead>
											<tr>
												<th class="hide">ID</th>
												<th>访客姓名</th>
												<th>性别</th>
												<th>电话</th>
												<th>访主</th>
												<th class="hide">地址</th>
												<th>到访时间</th>
												<th class="hide">离开时间</th>
												<th>值班人</th>
												<th class="hide">备注</th>
												<th class="hide">来访事情</th>
												<th>是否离开</th>
												<th>操作</th>
											</tr>
										</thead>
										<tbody>

										</tbody>
									</table>
									<div class="paginateBox">
										<ul class="pagination" id="visitorPage">
										</ul>
									</div>
									<!--<div id="checkAllBox">
										<input id="comcheckBox" type="checkbox">全选
										<input type="button" class="btn btn-default" id="delAllcomBtn" value="删除所选" />
									</div>-->
								</div>
								<!-- /.table-responsive -->
							<!--</div>-->
						<!--</div>-->
					</div>
				</div>

			</div>
			<!-- /.panel-body -->
		</div>

		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>

<!-- Modal 添加 -->
<div class="modal fade" id="myModal"  role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">添加访客</h4>
      </div>
      <div class="modal-body">
      	<form class="hzhform formular" data-event="0x03070101" data-request="addGuest" data-bs="hzh.pages.js.visitors.processForm" data-cb="hzh.pages.js.visitors.processResponse">
			<!--<input type="text" id="opinionId"/>-->
			<div class="col-sm-6 form-group">
				<label class="control-label">访客姓名：</label>
				<input type="text" name="guestName" class="form-control validate[required] text-input" placeholder="访客姓名" aria-describedby="sizing-addon1" />
			</div>
			<div class="col-sm-6 form-group">
				<label class="control-label">访客性别：</label>
				<select name="sex" class="form-control">
					<option value="0">女</option>
					<option value="1">男</option>
				</select>
				<!--<input type="text" name="sex" id="storeyCount" class="form-control validate[required] text-input" placeholder="楼层数" aria-describedby="sizing-addon1" />-->
			</div>
			<div class="col-sm-6 form-group">
				<label class="control-label">联系电话：</label>
				<input type="text" name="telephone" class="form-control validate[required,custom[phone]] text-input" placeholder="联系电话" aria-describedby="sizing-addon1" />
			</div>
			<div class="col-sm-6 form-group">
				<label class="control-label">访主：</label>
				<input type="text" name="meetName" class="form-control validate[required] text-input" placeholder="访主" aria-describedby="sizing-addon1" />
			</div>
			<div class="col-sm-6 form-group">
				<label class="control-label">地址：</label>
				<input type="text" name="address" class="form-control validate[required] text-input" placeholder="地址" aria-describedby="sizing-addon1" />
			</div>
			<!--<div class="col-sm-6 form-group">
				<label class="control-label">来访时间：</label>
				<input type="text" name="createTime" class="form-control validate[required] text-input" placeholder="来访时间" aria-describedby="sizing-addon1" />
			</div>
			<div class="col-sm-6 form-group">
				<label class="control-label">离开时间：</label>
				<input type="text" name="leaveTime" class="form-control validate[required] text-input" placeholder="离开时间" aria-describedby="sizing-addon1" />
			</div>-->
			<div class="col-sm-6 form-group">
				<label class="control-label">值班人：</label>
				<input type="text" name="creator" class="form-control validate[required] text-input" placeholder="值班人" aria-describedby="sizing-addon1" />
			</div>
			<div class="col-sm-6 form-group">
				<label class="control-label">备注：</label>
				<input type="text" name="remark" class="form-control validate[required] text-input" placeholder="备注" aria-describedby="sizing-addon1" />
			</div>
			<div class="col-sm-6 form-group">
				<label class="control-label">来访事情：</label>
				<input type="text" name="item" class="form-control validate[required] text-input" placeholder="来访事情" aria-describedby="sizing-addon1" />
			</div>
			<!--<div class="col-sm-6 form-group">
				<label class="control-label">是否离开：</label>
				<input type="text" name="isLeave" class="form-control validate[required] text-input" placeholder="是否离开" aria-describedby="sizing-addon1" />
			</div>-->
			<div class="footModal">
		        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		        <button type="submit" class="btn btn-default">添加</button>
		    </div>
		</form>		
      </div>
    </div>
  </div>
</div>

<!-- Modal修改 -->
<!--<div class="modal fade" id="updateBuildModal" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">修改楼宇</h4>
      </div>
      <div class="modal-body">
      	<form class="hzhform formular" data-event="0x03060016" data-request="addBuilding" data-bs="hzh.pages.js.building.updateForm" data-cb="hzh.pages.js.building.updateResponse">
			<input type="hidden" id="buildingId"/>
			<div class="col-sm-6 form-group">
				<label class="control-label">楼宇号：</label>
				<input type="text" name="BuildingNum" id="BuildingNum" class="form-control validate[required] text-input" placeholder="楼宇号" aria-describedby="sizing-addon1" />
			</div>
			<div class="col-sm-6 form-group">
				<label class="control-label">楼层数：</label>
				<input type="text" name="storeyCount" id="storeyCount" class="form-control validate[required] text-input" placeholder="楼层数" aria-describedby="sizing-addon1" />
			</div>
			<div class="col-sm-6 form-group">
				<label class="control-label">楼宇名称：</label>
				<input type="text" name="showName" id="showName" class="form-control validate[required] text-input" placeholder="楼宇名称" aria-describedby="sizing-addon1" />
			</div>
			<div class="col-sm-6 form-group" id="updateCommunitydiv">
				<label class="control-label">小区名称：</label>
				<input type="text" class="easyui-combobox form-control" name="communityId" id="updateCommunityId" style="width: 255px;height: 34px;">
				<input type="hidden"  id="updateId" />
				
				<div id="updateTb" style="padding:5px;height:auto;">
					<input id="inputval" type="text" placeholder="请输入户主名">
					<a href="#" id="btn" class="easyui-linkbutton" iconCls="icon-search">搜索</a>
				</div>
				
			</div>
			
			<div style="text-align: right;">
				<button type="submit" class="btn btn-default">提交</button>
			</div>
		</form>		
      </div>
    </div>
  </div>
</div>-->

