<div class="row">
	<div class="col-lg-12">
		<a id="beback" href="#">返回</a>
		<h1 class="page-header">住户管理</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-12">

		<div class="panel panel-default">
			<div class="panel-heading">查询住户条件
				<!--<ul class="nav nav-tabs" role="tablist" id="myTab">
					<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"></a></li>
				</ul>-->

			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="home">
						<div class="bs-example" data-example-id="bordered-table">
							<table class="table table-bordered">
								<thead>
									<tr>

									</tr>
								</thead>
								<tbody>
									<tr>
										<!--<td>
											<input type="text" id="communityName" class="form-control" placeholder="所属小区" aria-describedby="sizing-addon1" />
										</td>-->
										<td>
											<input type="text" id="buildingNum" class="form-control" placeholder="楼号" aria-describedby="sizing-addon1" />
										</td>
										<td>
											<input type="text" id="unitNum" class="form-control" placeholder="单元号" aria-describedby="sizing-addon1" />
										</td>
										<td>
											<input type="text" id="headHouseholdName" class="form-control" placeholder="户主姓名" aria-describedby="sizing-addon1" />
										</td>
										<td>
											<input type="text" id="telephone" class="form-control" placeholder="户主电话" aria-describedby="sizing-addon1" />
										</td>
										<td style="text-align: center;">
											<input id="householdbtn" type="button" class="btn btn-default" value="查询" />
										</td>
									</tr>

								</tbody>

							</table>
						</div>
						<!--<div class="panel panel-default">-->
							<!--<div class="panel-heading">用户列表</div>-->
							<!--<div class="panel-body">-->

								<!--<div class="dataTable_wrapper">-->
									<table class="table table-striped table-bordered table-hover" id="householdtable">
										<thead>
											<tr>
												<th>选择</th>
												<th>户ID</th>
												<th class="hide">所属小区</th>
												<th>楼号</th>
												<th>单元号</th>
												<th>房号</th>
												<th>人数</th>
												<th>户主</th>
												<th class="hide">成员</th>
												<th>户主电话</th>
												
												<th class="hide">建筑面积</th>
												<th class="hide">套内面积</th>
												<th class="hide">公摊面积</th>
												<th>操作</th>
											</tr>
										</thead>
										<tbody>

										</tbody>
									</table>
									<div class="paginateBox">
										<ul class="pagination" id="page2">
											
										</ul>
									</div>
									<div id="checkAllBox">
										<input id="housecheckBox" type="checkbox">全选
										<input type="button" class="btn btn-default" id="delAllBtn" value="删除所选" />
									</div>
								<!--</div>-->
								<!-- Modal -->
								<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								  <div class="modal-dialog" role="document">
								    <div class="modal-content">
								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								        <h4 class="modal-title" id="myModalLabel">缴费单号</h4>
								      </div>
								      <div class="modal-body">
								      	<div class="dataTable_wrapper">
											<table class="table table-striped table-bordered table-hover" id="utilitiesTable">
												<thead>
													<tr>
														<th>费用Id</th>
														<th>费用名称</th>
														<th>单号</th>
														<th class="hide">单号</th>
														<th>操作</th>
													</tr>
												</thead>
												<tbody>
												</tbody>
											</table>
											<div class="paginateBox">
												<ul class="pagination" id="page1">
													
												</ul>
											</div>
											<input type="hidden" id="householdIDInput" />
										</div>
								      </div>
								      <div class="modal-footer">
								        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
								        <!--<button type="submit"  class="btn btn-primary">保存</button>-->
								      </div>
								    </div>
								  </div>
								</div>
							<!--</div>-->
							<!-- /.panel-body -->
						<!--</div>-->
					</div>


				</div>

			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->


<!-- Modal -->
<div class="modal fade" id="updateHousehold" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">修改住户</h4>
      </div>
      <div class="modal-body">
        <form class="hzhform formular" style="margin-left: -15px;" id="signupForm" data-event="0x03020110 " data-request="zhcxgl" data-bs="hzh.pages.js.zhcxgl.processForm" data-cb="hzh.pages.js.zhcxgl.processResponse">
			<input type="hidden" id="householdId"/>
			<!--<div class="col-lg-6 form-group">
				<label class="control-label" for="inputJob">楼宇号：</label>
				<input type="text" id="buildingNum"   name="buildingNum" class="form-control validate[required] text-input" placeholder="楼宇号" aria-describedby="sizing-addon1" />
			</div>
			<div class="col-lg-6 form-group">
				<label class="control-label" for="inputJob">单元号：</label>
				<input type="text" id="unitNum" name="unitNum" class="form-control validate[required] text-input" placeholder="单元号" aria-describedby="sizing-addon1" />
			
			</div>
			<div class="col-lg-6 form-group">
				<label class="control-label" for="inputJob">房间号：</label>
				<input type="text" id="roomNum" name="roomNum" class="form-control validate[required] text-input" placeholder="房间号" aria-describedby="sizing-addon1" />
			</div>-->
			<div class="col-lg-6 form-group">
				<label class="control-label" for="inputJob">家庭人数：</label>
				<input type="text" id="familyCount" name="familyCount" class="form-control newVal validate[required,custom[integer]] text-input" placeholder="家庭人数" aria-describedby="sizing-addon1" />
			</div>
			<div class="col-lg-6 form-group">
				<label class="control-label" for="inputJob">户主姓名：</label>
				<input type="text" id="headOfHousehold" name="headOfHousehold" class="form-control newVal validate[required] text-input" placeholder="户主姓名" aria-describedby="sizing-addon1" />
			</div>
			<div class="col-lg-6 form-group">
				<label class="control-label" for="familys">家庭成员姓名：</label>
				<input type="text" id="familys" name="familys" class="form-control newVal validate[required] text-input" placeholder="家庭成员姓名" aria-describedby="sizing-addon1" />
			</div>
			<div class="col-lg-6 form-group">
				<label class="control-label" for="telephone">户主电话：</label>
				<input type="text" id="telephone" name="telephone"  class="form-control newVal validate[required,custom[phone]] text-input" placeholder="如：023-xxxxxxx或135xxxxxxxx" aria-describedby="sizing-addon1" />
			</div>	
			<div class="col-lg-6 form-group">
				<label class="control-label" for="buildingArea">建筑面积：</label>
				<input type="text" id="buildingArea" name="buildingArea" class="form-control newVal validate[required,custom[number]] text-input" placeholder="建筑面积" aria-describedby="sizing-addon1" />
			</div>
			<div class="col-lg-6 form-group">
				<label class="control-label" for="inputJob">套内面积：</label>
				<input type="text" id="unitConstractionArea" name="unitConstractionArea" class="form-control newVal validate[required,custom[number]] text-input" placeholder="使用面积" aria-describedby="sizing-addon1" />
			</div>
			<div class="col-lg-6 form-group">
				<label class="control-label" for="inputJob">公摊面积：</label>
				<input type="text" id="sharedPublicArea" name="sharedPublicArea" class="form-control newVal validate[required,custom[number]] text-input" placeholder="公摊面积" aria-describedby="sizing-addon1" />
				
			</div>
			<div class="footModal">
				<button type="submit" id="submit" class="btn btn-default">提交</button>
			</div>
		</form>
      </div>
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="submit" class="btn btn-primary">保存</button>
      </div>-->
    </div>
  </div>
</div>

