<div class="row">
	<div class="col-lg-12">
		<a id="beback" href="#">返回</a>
		<h1 class="page-header">版位列表</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>

<div class="row">
	<!-- /.panel-heading -->
	<div class="panel-body">
		<div class="tab-content">
			<div class="panel panel-default">
				<div class="panel-heading">查询版位</div>
				<div class="panel-body">
					<div class="dataTable_wrapper">
						<div class="bs-example" data-example-id="bordered-table">
							<table class="table table-bordered">
								<thead>
									<tr>
									</tr>
								</thead>
								<tbody id="home">
									<tr>
										<td>
											<input type="text" id="zone" class="form-control" placeholder="版位名称" aria-describedby="sizing-addon1" />
										</td>
										<td>
											<input type="text" id="page" class="form-control" placeholder="对应展示页" aria-describedby="sizing-addon1" />
										</td>
										
										<td>
											<input type="text" id="adName" class="form-control" placeholder="广告名称" aria-describedby="sizing-addon1" />
										</td>
										<!--<td>
											<input type="text" id="adcustomer" class="form-control" placeholder="广告客户" aria-describedby="sizing-addon1" />
										</td>-->
										<!--<td>
											<input type="text" id="adcampaign" class="form-control" placeholder="广告项目名称" aria-describedby="sizing-addon1" />
										</td>-->
										<td style="text-align: center;">
											<input id="zoneListBtn" type="button" class="btn btn-default" value="查询" />
										</td>
									</tr>
								</tbody>
							</table>

							<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">添加版位</button>
							<!--<input id="zoneListBtn" type="button" class="btn btn-default" value="" />-->
						</div>
						<!--<div class="panel panel-default">-->
							<!--<div class="panel-heading">版位列表</div>-->
							<!--<div class="panel-body">-->
								<table class="table table-striped table-bordered table-hover" id="zoneListTable">
									<thead>
										<tr>
											<th>选择</th>
											<th class="hide"></th>
											<th class="hide"></th>
											<th>版位名称</th>
											<th  class="hide">版位描述</th>
											<th>版位宽</th>
											<th>版位高</th>
											<th  class="hide">项目</th>											
											<th>对应展示页</th>
											<th>广告</th>
											<th class="hide">客户</th>
											<th>操作</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
								<div class="paginateBox">
									<ul class="pagination" id="zonePage">
									</ul>
								</div>
								<div id="checkAllBox">
									<input id="zonecheckBox" type="checkbox">全选
									<input type="button" class="btn btn-default" id="delAllzoneBtn" value="删除所选" />
								</div>
							<!--</div>-->
						<!--</div>-->
					</div>
					<!-- /.table-responsive -->
				</div>
				<!-- /.panel-body -->
			</div>
			<!--</div>-->

			<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">添加版位</h4>
						</div>
						<div class="dataTable_wrapper">
							<div class="bs-example" data-example-id="bordered-table">
								<form class="formular" id="addzoneForm" data-event="0x03040121" data-request="ADD_HOUSEHOLD_MULTI" data-bs="hzh.pages.js.zone.processForm" data-cb="hzh.pages.js.zone.processResponse">
									<div style="margin-top: 20px;" class="col-lg-6 form-group">
										<label class="control-label">版位名称</label>
										<input type="text" name="name" class="form-control validate[required] text-input" placeholder="版位名称" aria-describedby="sizing-addon1" />
										<!--</div>-->
									</div>
									<div style="margin-top: 20px;" class="col-lg-6 form-group">
										<label class="control-label">版位描述</label>
										<input type="text" name="remark" class="form-control" placeholder="版位描述" aria-describedby="sizing-addon1" />
										<!--</div>-->
									</div>
									<div class="col-lg-6 form-group">
										<label class="control-label">版位宽</label>
										<input type="text" name="width" class="form-control validate[required,custom[number]] text-input" placeholder="版位宽" aria-describedby="sizing-addon1" />
										
									</div>
									<div class="col-lg-6 form-group">
										<label class="control-label">版为高</label>
										<input type="text" name="height" class="form-control validate[required,custom[number]] text-input" placeholder="版为高" aria-describedby="sizing-addon1" />
										
									</div>
									<div class="col-lg-6 form-group">
										<label class="control-label">版位对应的展示页</label>
										<select class="easyui-combobox form-control" id="pageId"  name="pageId" style="width: 270px;height: 34px;">
											
										</select>
									</div>
									<div class="modal-footer">
										<button type="submit" id="addzoneBtn" class="btn btn-default">提交</button>
									</div>
								</form>
							</div>
						</div>
						<!-- /.table-responsive -->

					</div>
				</div>
			</div>
			
			<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">修改版位</h4>
						</div>
						<div class="dataTable_wrapper">
							<div class="bs-example" data-example-id="bordered-table">
								<form class="hzhform formular" id="addzoneForm" data-event="0x03040120" data-request="updateADZone" data-bs="hzh.pages.js.zone.updateForm" data-cb="hzh.pages.js.zone.updateResponse">
									<div style="margin-top: 20px;" class="col-lg-6 form-group">
										<label class="control-label">版位名称</label>
										<input type="text" id="name" name="name" class="form-control validate[required] text-input" placeholder="版位名称" aria-describedby="sizing-addon1" />
										
									</div>
									<div style="margin-top: 20px;" class="col-lg-6 form-group">
										<label class="control-label">版位描述</label>
										<input type="text" id="remark" name="remark" class="form-control" placeholder="版位描述" aria-describedby="sizing-addon1" />
										
									</div>
									<div class="col-lg-6 form-group">
										<label class="control-label">版位宽</label>
										<input type="text" id="width" name="width" class="form-control validate[required,custom[number]] text-input" placeholder="版位宽" aria-describedby="sizing-addon1" />
										
									</div>
									<div class="col-lg-6 form-group">
										<label class="control-label">版为高</label>
										<input type="text" id="height" name="height" class="form-control validate[required,custom[number]] text-input" placeholder="版为高" aria-describedby="sizing-addon1" />
										
									</div>
									<div class="col-lg-6 form-group" id="updatePageDiv">
										<label class="control-label">版位对应的展示页</label>
										<select class="form-control" id="pageid" name="pageId" style="width: 270px;height: 34px;">
											
										</select>
										<input type="hidden" id="updatePageId" />
									</div>
									<div class="col-lg-6 form-group" id="campaigndiv">
										<label class="control-label">版位对应的项目</label>
										<select class="easyui-combobox form-control" id="campaignId" style="width: 270px;height: 34px;" data-options="multiple:true,multiline:true">
											
										</select>
										<input type="hidden" class="easyui-combobox form-control" id="inputId" name="campaignIds" />
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
										<button type="submit" id="addzoneBtn" class="btn btn-default">提交</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			

			<!-- Modal -->
			<div class="modal fade" id="queryAdZoneBtn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">广告版位</h4>
						</div>
						<div class="modal-body">
							<div class="panel-body">
								<div class="dataTable_wrapper">
									<table class="table table-striped table-bordered table-hover" id="adZoneTable">
										<thead>
											<tr>
												<th>广告账户</th>
												<th>广告名称</th>
												<th>版位是否对应该广告</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
									<div class="paginateBox">
										<ul class="pagination" id="adPage">
										</ul>
									</div>
								</div>
								<!-- /.table-responsive -->
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
							<button id="updateAdZone" type="button" class="btn btn-primary">保存</button>
						</div>
						<input type="hidden" id="adIdInput" />
					</div>
					
				</div>
			</div>

		</div>

	</div>
	<!-- /.panel-body -->
	<!--</div>-->

	<!-- /.panel -->
</div>
<!-- /.col-lg-12 -->
</div>